{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar" style="direction: ltr">
        <div style="direction: rtl">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image" style="padding-right: 12px">

                    <img src="{% static  'dist/img/userlogo.png' %}"
                         class="img-circle elevation-2" alt="Logo">

                </div>
                <div class="info">
                    <span><a href="#">{{ request.user.userprofile.get_full_name }}</a></span>
                </div>
            </div>


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    {% with url_name=request.resolver_match.url_name %}
                        <li class="nav-item has-treeview {% if url_name == 'add_product' or url_name == 'categories' or url_name == 'brands' or url_name == 'products' or url_name == 'add_brand' %} menu-open {% endif %}">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-product-hunt"></i>
                                <p>
                                    مدیریت کالا
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">


                                <li class="nav-item">
                                    <a href="/add_product"
                                       class="nav-link {% if url_name == 'add_product' %}active{% endif %}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>تعریف کالای جدید</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/products"
                                       class="nav-link  {% if url_name == 'products' %}active{% endif %}">

                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>لیست محصولات</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/categories"
                                       class="nav-link  {% if url_name == 'categories' %}active{% endif %}">

                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>گروه های کالایی</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/add_brand"
                                       class="nav-link  {% if url_name == 'add_brand' %}active{% endif %}">

                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>برند جدید</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="/brands"
                                       class="nav-link  {% if url_name == 'brands' %}active{% endif %}">

                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>برند ها</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endwith %}
                    {% with url_name=request.resolver_match.url_name %}
                        <li class="nav-item has-treeview  {% if 'supplier' in url_name %} menu-open {% endif %}">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-shopping-bag"></i>
                                <p>
                                    مدیریت تامین کنندگان
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">


                                <li class="nav-item  ">
                                    <a href="/add_supplier"
                                       class="nav-link {% if url_name == 'add_supplier' %}active{% endif %}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>اضافه کردن تامین کننده</p>
                                    </a>
                                </li>
                                <li class="nav-item {% if 'supplier' in url_name %}active{% endif %} ">
                                    <a href="/suppliers"
                                       class="nav-link {% if url_name == 'suppliers' %}active{% endif %}">
                                        <i class="fa fa-circle-o nav-icon"></i>
                                        <p>لیست تامین کنندگان</p>
                                    </a>
                                </li>

                            </ul>
                        </li>
                    {% endwith %}
                    {% with url_name=request.resolver_match.url_name %}
                        <li class="nav-item has-treeview {% if 'prison' in url_name %} menu-open {% endif %}">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-address-book"></i>
                                <p>
                                    مدیریت زندان و استان
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                {% with url_name=request.resolver_match.url_name %}
                                    <li class="nav-item">
                                        <a href="/prisonbranches"
                                           class="nav-link {% if url_name == 'prisonbranches' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>زندان ها </p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="/prisons"
                                           class="nav-link {% if url_name == 'prisons' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>بنیاد ها</p>
                                        </a>
                                    </li>

                                {% endwith %}
                            </ul>
                        </li>
                    {% endwith %}

                    {% with url_name=request.resolver_match.url_name %}
                        <li class="nav-item has-treeview {% if 'report' in url_name %} menu-open {% endif %}">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-table"></i>
                                <p>
                                    گزارشات و استعلام
                                    <i class="fa fa-angle-left right"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                {% with url_name=request.resolver_match.url_name %}
                                    <li class="nav-item">
                                        <a href="/report"
                                           class="nav-link {% if url_name == 'report' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>گروه کالایی</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="product_report"
                                           class="nav-link {% if url_name == 'product_report' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>کالا و مارجین</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="product_detailed_report"
                                           class="nav-link {% if url_name == 'product_detailed_report' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>استعلام خصوصی کالا</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="req-status-report"
                                           class="nav-link {% if url_name == 'req-status-report' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>وضعیت درخواست ها</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="prison-report"
                                           class="nav-link {% if url_name == 'prison-report' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>مصرف استان</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pris-order-report"
                                           class="nav-link {% if url_name == 'pris-order-report' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>مقدار درخواستی استان ها</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="pris-ordered-report"
                                           class="nav-link {% if url_name == 'pris-ordered-report' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>مقدار دریافتی استان ها</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="time-deliver-report"
                                           class="nav-link {% if url_name == 'time-deliver-report' %}active{% endif %}">
                                            <i class="fa fa-circle-o nav-icon"></i>
                                            <p>مدت زمان درخواست و رسید</p>
                                        </a>
                                    </li>

                                {% endwith %}
                            </ul>
                        </li>
                    {% endwith %}


                </ul>
            </nav>

            <!-- /.sidebar-menu -->
        </div>
    </div>
</aside>