{% load static %}

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Sidebar -->
    <div class="sidebar" style="direction: ltr">
        <div style="direction: rtl">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image" style="padding-right: 12px">

                    <img src="{% static  'dist/img/userlogo.png' %}"
                         class="img-circle elevation-2" alt="Logo">

                </div>
                <div class="info">
                    <span><a href="#">{{ request.user.userprofile.get_full_name }}</a></span>
                </div>
            </div>


            <!-- Sidebar Menu -->
            <nav class="mt-2">
                <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                    data-accordion="false">
                    <!-- Add icons to the links using the .nav-icon class
                         with font-awesome or any other icon font library -->
                    {% with url_name=request.resolver_match.url_name %}
                    <li class="nav-item has-treeview {% if url_name == 'add_user' or url_name == 'users' or url_name == 'get_user' %} menu-open {% endif %}">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-dashboard"></i>
                            <p>
                                مدیریت کاربران
                                <i class="fa fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">

                            {% with url_name=request.resolver_match.url_name %}
                            <li class="nav-item">
                                <a href="/add_user" class="nav-link {% if url_name == 'add_user' %}active{% endif %}">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>ایجاد کاربر جدید</p>
                                </a>
                            </li>
                            {% endwith %}
                            {% with url_name=request.resolver_match.url_name %}
                            <li class="nav-item">
                                <a href="/users"
                                   class="nav-link  {% if url_name == 'users' or url_name == 'get_user' %}active{% endif %}">

                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>ویرایش اطلاعات کاربران</p>
                                </a>
                            </li>
                            {% endwith %}
                        </ul>
                    </li>
                    {% endwith %}

                    <li class="nav-item has-treeview" hidden>
                        <a href="#" class="nav-link">
                            <i class="nav-icon fa fa-table"></i>
                            <p>
                                گزارشات
                                <i class="fa fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            {% with url_name=request.resolver_match.url_name %}
                            <li class="nav-item {% if url_name == 'report_users' %} menu-open {% endif %}">
                                <a href="pages/tables/data.html"
                                   class="nav-link {% if url_name == 'report_users' %}active{% endif %}">
                                    <i class="fa fa-circle-o nav-icon"></i>
                                    <p>ورود و خروج کاربران</p>
                                </a>
                            </li>
                            {% endwith %}
                        </ul>
                    </li>


                </ul>
            </nav>

            <!-- /.sidebar-menu -->
        </div>
    </div>
</aside>