<div class="wrapper" id="parent_wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper" id="main_wrapper">
            <section class="content" xmlns="http://www.w3.org/1999/html">


                <div class="card">

                    <div class="card-body">
                        <article class="section" id="article-page">
                            <div id="post-content">
                                <div class="row">
                                    <div class="text-right col-4">
                                        <img src="{% static 'dist/img/logo.png' %}"
                                             style="width: 74px;margin-right: 34px">
                                        <br>
                                        <span style="font-family: 'B Titr'">بازرگانی حامیان امید فردا</span><br>

                                    </div>
                                    <div class="text-center col-4">
                                        <h5 style="font-family: IranNastaliq;font-size: 40px"
                                            class="article-title text-center">بسم الله الرحمن الرحیم</h5>
                                        <h5 class="article-title text-center">(فرم درخواست کالا از شرکت بازرگانی حامیان
                                            امید فردا)</h5>
                                    </div>
                                    <div class="text-left col-4">
                                        <span class="text-left"> شماره درخواست: {{ request_r.number }}</span><br>
                                        <span class="text-left">تاریخ ثبت: {{ request_r.get_created_date }}</span><br>
                                        <span class="text-left"> پیوست: ندارد</span>
                                    </div>

                                </div>
                                <hr>
                                <br>
                                <div class="article-body paragraph" style="font-size: 18px;"><p>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-right pb-1" style="font-family: 'B Titr'">جناب آقای محمد
                                                برهانی
                                                پور</h5>
                                            <h5 class="text-right pb-1 text-bold" style="font-family: 'B Titr'">مدیر
                                                عامل شرکت بازرگانی حامیان امید</h5>
                                            <h5 class="text-right pb-1 text-bold" style="font-family: 'B Titr'">موضوع:
                                                درخواست ندامتگاه {{ request_r.branch.name }}</h5>

                                        </div>
                                    </div>
                                    <div>
                                        <span>بدینوسیله این درخواست با شماره و تاریخ درج شده در آن جهت ارسال به ندامتگاه {{ request_r.branch.name }} ( سرپرست {{ request_r.branch.branch_deputy }} )، حضورتان ارسال میگردد</span>
                                    </div>
                                    <br>
                                    <div><h6>اطلاعات مربوط به درخواست کننده:</h6></div>
                                    <div class="row invoice-info">

                                        <div class="col-sm-4 invoice-col">
                                            <address>

                                                نام بنیاد: {{ request_r.prison.name }}<br>
                                                آدرس: {{ request_r.branch.address }}<br>
                                                تلفن: {{ request_r.branch.phone_number }}<br>

                                            </address>
                                        </div>
                                        <div class="col-sm-4 invoice-col">
                                            <address>

                                                نام: {{ request_user.userprofile.first_name }}<br>
                                                نام خانوادگی: {{ request_user.userprofile.last_name }}<br>

                                            </address>
                                        </div>
                                        <div class="col-sm-4 invoice-col">
                                            <address>

                                                وضعیت تاییدیه: {{ request_r.request_status }}<br>
                                                وضعیت درخواست: {{ request_r.shipping_status }}<br>


                                            </address>
                                        </div>
                                    </div>
                                    <table class="table table-bordered">

                                        <div class="text-center border-primary">محصولات انتخاب شده جهت مصرف در فروشگاه
                                            ندامتگاه {{ request_r.branch.name }}
                                        </div>
                                        <thead>
                                        <tr>
                                            <th class="text-center">شماره</th>
                                            <th class="text-center">نام کالا</th>
                                            <th class="text-center">گروه</th>
                                            <th class="text-center">تامین کننده</th>
                                            <th class="text-center">برند</th>
                                            <th class="text-center">کمیت</th>
                                            <th class="text-center">نقدی</th>
                                            <th class="text-center">دو ماهه</th>
                                            {% if request.user.groups.all.0.name != 'user' %}
                                                <th class="text-center">تاریخچه</th>
                                            {% endif %}

                                            <th class="text-center">ویرایش</th>
                                            {% if request.user.groups.all.0.name != 'user' %}
                                                <th class="text-center">ثبت قیمت</th>
                                            {% endif %}
                                            {% if request.user.groups.all.0.name == 'user' %}
                                                <th class="text-center">حذف</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody class='position-relative' id="tableDestination">
                                        {% for order in orders_r %}
                                            <tr id="productDestination-{{ order.id }}">
                                                <td class="text-center hover">{{ order.id }}</td>
                                                <td class="text-center">{{ order.product.name }}</td>
                                                <td class="text-center">{{ order.product.category.name }}</td>
                                                <td class="text-center">
                                                    <select class="btn btn-outline-dark text-right show-tick dropdown w-100"
                                                            id="requestSupplier-{{ order.id }}">
                                                        {% for supplier in  suppliers %}
                                                            {% if supplier == order.supplier %}
                                                                <option value="{{ supplier }}"
                                                                        selected>{{ supplier.company_name }}</option>
                                                            {% else %}
                                                                <option value="{{ supplier }}">{{ supplier.company_name }}</option>
                                                            {% endif %}

                                                        {% endfor %}
                                                    </select></td>
                                                <td class="text-center">

                                                    <select class="btn btn-outline-dark text-right show-tick dropdown w-100"
                                                            id="requestBrand-{{ order.id }}">
                                                        {% for supplier in  order.product.category.suppliers.all %}
                                                            {% if supplier == order.brand %}
                                                                <option value="{{ supplier }}"
                                                                        selected>{{ supplier }}</option>
                                                            {% else %}
                                                                <option value="{{ supplier }}">{{ supplier }}</option>
                                                            {% endif %}

                                                        {% endfor %}
                                                    </select></td>


                                                <td class="text-center w-0"><input type="number" class="text-center"
                                                                                   value="{{ order.quantity }}"> {{ order.product.based_quantity }}
                                                </td>
                                                <td class="text-center"><input type="number" class="text-center"
                                                                               value="{{ order.price }}"> ریال
                                                </td>
                                                <td class="text-center"><input type="number" class="text-center"
                                                                               value="{{ order.price_2m }}">
                                                    ریال
                                                </td>
                                                {% if request.user.groups.all.0.name != 'user' %}
                                                    <td class="text-center"><span id="submitSupplierProduct"
                                                                                  class="fa fa-search btn btn-outline-info"
                                                                                  style="padding-top: 6px"
                                                                                  onclick="getPrice({{ order.product.id }},{{ order.id }})"></span>
                                                    </td>
                                                {% endif %}

                                                <td class="text-center"><span id="shoppingButton"
                                                                              class="fa fa-edit btn btn-success"
                                                                              style="padding-top: 6px"
                                                                              onclick="submitProductServerCallOut({{ order.id }})"></span>
                                                </td>
                                                {% if request.user.groups.all.0.name != 'user' %}
                                                    <td class="text-center"><span id="submitSupplierProduct"
                                                                                  class="fa fa-check btn btn-outline-primary"
                                                                                  style="padding-top: 6px"
                                                                                  onclick="submitProductSupplierPrice({{ order.product.id }},{{ order.id }},{{ request_r.number }})"></span>
                                                    </td>
                                                {% endif %}
                                                {% if request.user.groups.all.0.name == 'user' %}
                                                    <td class="text-center"><span id="shoppingButton"
                                                                                  class="fa fa-remove btn btn-outline-danger"
                                                                                  style="padding-top: 6px"
                                                                                  onclick="removeProductServerCallOut({{ order.id }})"></span>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>


                                    </p>
                                    <br>


                                    <div class="text-right pt-4">
                                        <div class="row no- pt-3 no-print">
                                            <div class="col-12" id="print-button">
                                                <form action="/get_request/{{ request_r.number }}">
                                                    <button type="submit" class="btn btn-info float-left ml-2"
                                                            style="margin-right: 5px;">
                                                        <i class="fa fa-arrow-left"></i>تایید
                                                    </button>

                                                </form>

                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </article>
                    </div>

                </div>


            </section>
            <div class="w-100">

                {% if request.user.groups.all.0.name == 'user' %}
                    <div class="card">


                        <div class="card-header text-center">
                            <h4>لیست محصولات</h4>
                            <div class="border-end bg-white text-center" id="sidebar-wrapper">
                                <span class=""> جست و جو کالا:</span>
                                <input type="text" name="table_search" class="" placeholder="نام کالا"
                                       id="nameField">
                                <select class="btn btn-outline-dark show-tick dropdown filter-products text-center"
                                        data-width="fit"
                                        id="selected-category">
                                    <option value="دسته">دسته</option>
                                    {% for category in categories %}
                                        <option value="{{ category.name }}">{{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <select class="btn btn-outline-dark show-tick dropdown" data-width="fit"
                                        id="selected-supplier" hidden>
                                    <option value="برند">برند</option>
                                    {% for supplier in brands %}
                                        <option onclick="" class="filter-supplier"
                                                value="{{ supplier.company_name }}">
                                            {{ supplier.company_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-primary" id="searchbtn" type="button"
                                        onclick="handleSearch()">جست و جو
                                </button>
                                <button class="btn btn-outline-danger fa fa-close" type="button"
                                        onclick="resetFound()">
                                </button>

                            </div>

                        </div>

                        <div class="w-100 text-center" id='loadingBar' style="display: none">
                            <div class="loadingio-spinner-spinner-985r529o724">
                                <div class="ldio-oiqxwq2p09">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>

                        <div class="app-table card-body table-responsive pt-2 pb-2 table-bordered border-primary">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">نام کالا</th>
                                    <th class="text-center">گروه</th>
                                    <th class="text-center">تامین کننده</th>
                                    <th class="text-center">برند</th>
                                    <th class="text-center">کمیت</th>
                                    <th class="text-center">نقدی</th>
                                    <th class="text-center">دو ماهه</th>
                                    <th class="text-center"></th>

                                </tr>
                                </thead>
                                <tbody id="tableSource">
                                {% if products is not None %}
                                    {% for product in page_obj %}
                                        <tr id="productSource-{{ product.id }}">
                                            <td class="text-center" id="product-id">{{ product.id }}</td>
                                            <td class="text-center">{{ product.name }}</td>
                                            <td class="text-center"><label class="badge badge-success"
                                                                           style="font-size: 13px;"
                                                                           id="category-{{ product.id }}">{{ product.category_id }}</label>
                                            </td>
                                            <td class="text-center">

                                                <select class="btn btn-outline-dark text-right show-tick dropdown"
                                                        data-dropup-auto="false" title="تامین کننده"
                                                        style="width: 100%"
                                                        id="supplier-{{ product.id }}">
                                                    <option value="">تامین کننده</option>
                                                    {% for supplier in suppliers %}
                                                        <option value="{{ supplier.company_name }}">
                                                            {{ supplier.company_name }}
                                                        </option>
                                                    {% endfor %}
                                                </select>

                                            </td>
                                            <td class="text-center">
                                                {% if product.category is not None %}
                                                    <select class="btn btn-outline-dark text-right show-tick dropdown"
                                                            data-dropup-auto="false" title="برند"
                                                            style="width: 100%"
                                                            id="brand-{{ product.id }}">
                                                        <option value="بدون برند">برند</option>
                                                        {% for supplier in product.category.suppliers.all %}
                                                            <option value="{{ supplier.company_name }}">
                                                                {{ supplier.company_name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                {% endif %}
                                            </td>
                                            <td class="text-center"><input min="0" type="number"
                                                                           class="text-center"
                                                                           placeholder="{{ product.based_quantity }}">
                                            </td>

                                            <td class="text-center"><input min="0" type="number" class="text-center"
                                                                           placeholder="نقدی">
                                            </td>
                                            <td class="text-center"><input min="0" type="number" class="text-center"
                                                                           placeholder="دوماهه">
                                            </td>
                                            <td class="text-center">
                                                <span href="#" class="fa fa-shopping-cart btn btn-outline-secondary"
                                                      id="shoppingButton"
                                                      style="padding-top: 6px"
                                                      onclick="transferRow({{ product.id }})"></span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="no-results text-center text-bold" style="display: none;">
                            <small>چیزی پیدا نشد</small>
                        </div>

                        <div class="table-output card-body table-responsive pt-2 pb-2 table-bordered border-primary">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">نام کالا</th>
                                    <th class="text-center">گروه</th>
                                    <th class="text-center">تامین کننده</th>
                                    <th class="text-center">برند</th>
                                    <th class="text-center">کمیت</th>
                                    <th class="text-center">نقدی</th>
                                    <th class="text-center">دو ماهه</th>
                                </tr>
                                </thead>
                                <tbody class='table-body position-relative' style="width: 100px"></tbody>
                            </table>

                        </div>

                    </div>
                {% else %}
                    <div class="table-output" hidden></div>
                    <div class="card">
                        <div class="card-header text-center">
                            <h4>لیست قیمت کالای انتخاب شده</h4>
                        </div>
                        <div class="card-body table-responsive pt-2 pb-2 table-bordered">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th class="text-center">تامین کننده</th>
                                    <th class="text-center">نام کالا</th>
                                    <th class="text-center">برند</th>
                                    <th class="text-center">خرید</th>
                                    <th class="text-center">دو ماهه</th>
                                    <th class="text-center">تاریخ</th>
                                </tr>
                                </thead>
                                <tbody class="priceTable w-100"></tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}
            </div>


        </div>
        {% if request.user.groups.all.0.name == 'user' %}
            <div class="pagination-container">
                <div class="">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                </div>

                <ul class="pagination align-right float-right mr-auto" style="padding-top: 10px">
                    {% if page_obj.has_previous %}
                        <li {% ifequal 1 page_obj.number %} class="page-item active" {% endifequal %}>
                            <a class="page-link" href="?page=1">&laquo; 1
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page ={{ page_obj.previous_page_number }}">قبلی</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page= {{ page_obj.next_page_number }}">بعدی</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                {{ page_obj.paginator.num_pages }} &raquo;
                            </a></li>
                    {% endif %}
                </ul>


                <!-- /.row -->

            </div>
        {% endif %}
    </div>
</div>
<script type="application/javascript">
    window.request_id = '{{ request_r.number }}'
    window.requestFinalOrders = {}
    window.userRole = '{{ request.user.groups.all.0.name }}'
    window.onload = function () {

        {% for order in orders_r %}

            requestFinalOrders[{{ order.id }}] = {
                'product_id':{{ order.product.id }},
                'product_name': '{{ order.product.name }}',
                'product_category': '{{ order.product.category.name }}',
                'product_supplier': '{{ order.supplier.company_name }}',
                'product_quantity': {{ order.quantity }},
                'product_quantity_unit': '{{ order.product.based_quantity }}',
                'product_price': {{ order.price }},
                'product_2month_price': {{ order.price_2m }}
            }
        {% endfor %}

    }


</script>
<style type="text/css">
    @keyframes ldio-oiqxwq2p09 {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }

    .ldio-oiqxwq2p09 div {
        left: 47.5px;
        top: 24.5px;
        position: absolute;
        animation: ldio-oiqxwq2p09 linear 1.282051282051282s infinite;
        background: #ff0000;
        width: 5px;
        height: 11px;
        border-radius: 0px / 0px;
        transform-origin: 2.5px 25.5px;
    }

    .ldio-oiqxwq2p09 div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1752136752136753s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1.0683760683760684s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9615384615384616s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8547008547008548s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7478632478632479s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6410256410256411s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5341880341880342s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4273504273504274s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.32051282051282054s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2136752136752137s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.10683760683760685s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #ff0000;
    }

    .loadingio-spinner-spinner-985r529o724 {
        width: 44px;
        height: 44px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff;
    }

    .ldio-oiqxwq2p09 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(0.44);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

    .ldio-oiqxwq2p09 div {
        box-sizing: content-box;
    }

    /* generated by https://loading.io/ */
</style>
<script src="{% static 'dist/js/search_products.js' %}"></script>
<script src="{% static 'dist/js/request/edit_request.js' %}"></script>
