<div class="wrapper" id="parent_wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper" id="main_wrapper">
            <div class="row">

                <div class="w-100">

                    <div class="card">
                        <div class="card-body table-responsive">
                            <table class="table table-bordered table-valign-middle" id="orderTable">
                                <thead>
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">نام کالا</th>
                                    <th class="text-center">گروه</th>
                                    <th class="text-center">تامین کننده</th>
                                    <th class="text-center">برند</th>
                                    <th class="text-center">کمیت</th>
                                    <th class="text-center">نقدی</th>
                                    <th class="text-center">دو ماهه</th>
                                </tr>
                                </thead>
                                <tbody class='position-relative' id="tableDestination">

                                </tbody>
                            </table>
                            <div class="row gutters text-left pt-4">
                                <div class="col-6">
                                    <select class="float-left form-control w-25" id="prisonbranch">
                                        <option value=''>انتخاب زندان</option>
                                        {% for prison in prisonbranches %}
                                            <option value="{{ prison.name }}">{{ prison.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-6">
                                <span class="float-right btn btn-outline-success"
                                      onclick="serverCallOut()">ثبت محصولات درخواستی</span>
                                </div>

                            </div>

                        </div>

                        <div class="card-header text-center">
                            <h4>لیست محصولات</h4>
                            <div class="border-end bg-white text-center" id="sidebar-wrapper">
                                <span class=""> جست و جو کالا:</span>
                                <input type="text" name="table_search" class="" placeholder="نام کالا"
                                       id="nameField">
                                <select class="btn btn-outline-dark show-tick dropdown filter-products text-center"
                                        data-width="fit"
                                        id="selected-category">
                                    <option value="دسته">دسته</option>
                                    {% for category in categories %}
                                        <option value="{{ category.name }}">{{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <select class="btn btn-outline-dark show-tick dropdown" data-width="fit"
                                        id="selected-supplier" hidden>
                                    <option value="برند">برند</option>
                                    {% for supplier in suppliers %}
                                        <option onclick="" class="filter-supplier"
                                                value="{{ supplier.company_name }}"
                                                {% if supplier.is_active is False %} disabled {% endif %}>
                                            {{ supplier.company_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                <button accesskey="Enter" class="btn btn-primary" id="searchbtn" type="button"
                                        onclick="handleSearch()">جست و جو
                                </button>
                                <button class="btn btn-outline-danger fa fa-close" type="button"
                                        onclick="resetFound()">
                                </button>


                            </div>
                        </div>
                        <div class="w-100 text-center" id='loadingBar' style='display:none'>
                            <div class="loadingio-spinner-spinner-985r529o724">
                                <div class="ldio-oiqxwq2p09">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="app-table card-body table-responsive pt-2 pb-2 table-bordered border-primary">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">نام کالا</th>
                                    <th class="text-center">گروه</th>
                                    <th class="text-center">تامین کننده</th>
                                    <th class="text-center">برند</th>
                                    <th class="text-center">کمیت</th>
                                    <th class="text-center">نقدی</th>
                                    <th class="text-center">دو ماهه</th>
                                    <th class="text-center"></th>

                                </tr>
                                </thead>
                                <tbody id="tableSource">
                                {% if products is not None %}
                                    {% for product in page_obj %}
                                        <tr id="productSource-{{ product.id }}">
                                            <td class="text-center" id="product-id">{{ product.id }}</td>
                                            <td class="text-center">{{ product.name }}</td>
                                            <td class="text-center"><label class="badge badge-success"
                                                                           style="font-size: 13px;"
                                                                           id="category-{{ product.id }}">{{ product.category_id }}</label>
                                            </td>
                                            <td class="text-center">

                                                <select class="btn btn-outline-dark text-right show-tick dropdown"
                                                        data-dropup-auto="false" title="تامین کننده"
                                                        style="width: 100%"
                                                        id="supplier-{{ product.id }}">
                                                    <option value="بدون تامین کننده">تامین کننده</option>
                                                    {% for supplier in suppliers %}
                                                        {% if supplier.company_name != 'بدون تامین کننده' %}
                                                            <option value="{{ supplier.company_name }}">
                                                                {{ supplier.company_name }}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}

                                                </select>

                                            </td>
                                            <td class="text-center">
                                                {% if product.category is not None %}
                                                    <select class="btn btn-outline-dark text-right show-tick dropdown"
                                                            data-dropup-auto="false" title="برند"
                                                            style="width: 100%"
                                                            id="brand-{{ product.id }}">
                                                        <option value="بدون برند">برند</option>
                                                        {% for supplier in product.category.suppliers.all %}
                                                            <option value="{{ supplier.company_name }}"
                                                                    {% if supplier.is_active is False %}
                                                                    disabled {% endif %}>
                                                                {{ supplier.company_name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                {% endif %}
                                            </td>
                                            <td class="text-center"><input min="0" type="number"
                                                                           class="text-center"
                                                                           placeholder="{{ product.based_quantity }}">
                                            </td>

                                            <td class="text-center"><input min="0" type="number" class="text-center"
                                                                           placeholder="نقدی ">
                                            </td>
                                            <td class="text-center"><input min="0" type="number" class="text-center"
                                                                           placeholder="دو ماهه">
                                            </td>
                                            <td class="text-center">
                                                <span href="#" class="fa fa-shopping-cart btn btn-outline-secondary"
                                                      id="shoppingButton"
                                                      style="padding-top: 6px"
                                                      onclick="transferRow({{ product.id }})"></span>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="no-results text-center text-bold" style="display: none;">
                            <small>چیزی پیدا نشد</small>
                        </div>

                        <div class="table-output card-body table-responsive pt-2 pb-2 table-bordered border-primary">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">نام کالا</th>
                                    <th class="text-center">گروه</th>
                                    <th class="text-center">تامین کننده</th>
                                    <th class="text-center">برند</th>
                                    <th class="text-center">کمیت</th>
                                    <th class="text-center">نقدی</th>
                                    <th class="text-center">دو ماهه</th>
                                </tr>
                                </thead>
                                <tbody class='table-body position-relative' style="width: 100px">
                                </tbody>
                            </table>

                        </div>

                    </div>


                    <!-- /.card-body -->

                    <!-- /.card -->

                </div>


            </div>
            <div class="pagination-container">
                <div class="">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                </div>

                <ul class="pagination align-right float-right mr-auto" style="padding-top: 10px">
                    {% if page_obj.has_previous %}
                        <li {% ifequal 1 page_obj.number %} class="page-item active" {% endifequal %}>
                            <a class="page-link" href="?page=1">&laquo; 1
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page ={{ page_obj.previous_page_number }}">قبلی</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page= {{ page_obj.next_page_number }}">بعدی</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                {{ page_obj.paginator.num_pages }} &raquo;
                            </a></li>
                    {% endif %}
                </ul>


                <!-- /.row -->


            </div>
        </div>
    </div>
</div>
<style type="text/css">
    @keyframes ldio-oiqxwq2p09 {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }

    .ldio-oiqxwq2p09 div {
        left: 47.5px;
        top: 24.5px;
        position: absolute;
        animation: ldio-oiqxwq2p09 linear 1.282051282051282s infinite;
        background: #ff0000;
        width: 5px;
        height: 11px;
        border-radius: 0px / 0px;
        transform-origin: 2.5px 25.5px;
    }

    .ldio-oiqxwq2p09 div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1752136752136753s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1.0683760683760684s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9615384615384616s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8547008547008548s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7478632478632479s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6410256410256411s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5341880341880342s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4273504273504274s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.32051282051282054s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2136752136752137s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.10683760683760685s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #ff0000;
    }

    .loadingio-spinner-spinner-985r529o724 {
        width: 44px;
        height: 44px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff;
    }

    .ldio-oiqxwq2p09 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(0.44);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

    .ldio-oiqxwq2p09 div {
        box-sizing: content-box;
    }

    /* generated by https://loading.io/ */
</style>
<script src="{% static 'dist/js/search_products.js' %}"></script>
<script src="{% static 'dist/js/request_related.js' %}"></script>

