<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper">
            <div class="row w-100">
                <div class="w-100">

                    <div class="col-12 w-100">

                        {% with url_name=request.resolver_match.url_name %}
                            {% if url_name != 'returned_requests' and url_name != 'expert_request' %}
                                {% if request.user.groups.all.0.name != 'user' %}
                                    <div class="border-end bg-white text-center" id="sidebar-wrapper">
                                        <span class=""> جست و جو درخواست:</span>
                                        <input type="text" name="table_search" class="" placeholder="شماره درخواست"
                                               id="nameField">
                                        <select class="btn btn-outline-dark show-tick dropdown filter-products text-center"
                                                data-width="fit"
                                                id="selected-prison">
                                            <option value="بنیاد">بنیاد</option>
                                            {% for prison in prisons_r %}
                                                <option value="{{ prison.name }}">{{ prison.name }}</option>
                                            {% endfor %}
                                        </select>
                                        <select class="btn btn-outline-dark show-tick dropdown filter-products text-center"
                                                data-width="fit"
                                                id="selected-branch">
                                            <option value="زندان">زندان</option>
                                            {% for branch in prisonbranches_r %}
                                                <option value="{{ branch.name }}">{{ branch.name }}</option>
                                            {% endfor %}
                                        </select>


                                        <button accesskey="Enter" class="btn btn-primary" id="searchbtn" type="button"
                                                {% if url_name == 'requests' %}
                                                onclick="handleSearchRequest(1)" {% elif url_name == 'completed_request' %}
                                                onclick="handleSearchRequest(2)" {% elif url_name == 'reviewing_request' %}
                                                onclick="handleSearchRequest(3)" {% elif url_name == 'declined_request' %}
                                                onclick="handleSearchRequest(4)" {% elif url_name == 'expert_request' %}
                                                onclick="handleSearchRequest(3)"{% endif %} >
                                            جست و جو
                                        </button>

                                        <button class="btn btn-outline-danger fa fa-close" type="button"
                                                onclick="resetFound()">
                                        </button>


                                    </div>
                                {% endif %}

                                {#                        <div class="col-12 text-center row justify-content-center mt-2">#}
                                {#                            <div class="col-2 mt-2 text-left">#}
                                {#                                <span class="">تاریخ ثبت:</span>#}
                                {#                            </div>#}
                                {##}
                                {#                            <div class="col-1 mt-2 text-right" id="deliverdate">.................</div>#}
                                {##}
                                {#                            <div class="col-1 row mb-3 justify-content-start no-print">#}
                                {##}
                                {#                                <button class=" btn btn-outline-secondary fa fa-calendar float-left"#}
                                {#                                        id="dtp"></button>#}
                                {##}
                                {#                            </div>#}
                                {##}
                                {##}
                                {#                        </div>#}
                            {% endif %}
                        {% endwith %}
                        <div class="card w-100">
                            <div class="card-header text-center">
                                <h4>لیست درخواست ها</h4>


                            </div>
                            <div class="w-100 text-center" id='loadingBar' style='display:none'>
                                <div class="loadingio-spinner-spinner-985r529o724">
                                    <div class="ldio-oiqxwq2p09">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <div class="app-table card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                    <tr>
                                        <th class="text-center">شماره</th>
                                        <th class="text-center">نام بنیاد</th>
                                        <th class="text-center">وضعیت تاییدیه</th>
                                        <th class="text-center">وضعیت ارسال</th>
                                        <th class="text-center">نام زندان</th>
                                        <th class="text-center">تاریخ ثبت</th>
                                        <th class="text-center">تاریخ تایید نهایی</th>
                                        <th class="text-center">مشاهده</th>
                                        {% if request.user.groups.all.0.name == 'user' %}
                                            <th class="text-center">ویرایش</th>
                                        {% endif %}
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for request_r in page_obj %}
                                        <tr>
                                            <td class="text-center">{{ request_r.number }}</td>
                                            <td class="text-center">{{ request_r.prison.name }}</td>
                                            <td class="text-center"><label
                                                    class="badge {% if request_r.request_status == 'درحال بررسی توسط مدیر عامل' and request.user.groups.all.0.name == 'ceo' %}
                                                        badge-warning
                                                        {% elif request_r.request_status ==  'درحال بررسی توسط مدیر بازرگانی' and request.user.groups.all.0.name == 'commercial_manager' %}
                                                     badge-warning {% else %}
                                                     badge-secondary {% endif %} "
                                                    style="font-size: 13px;">{{ request_r.request_status }}</label>
                                            </td>
                                            <td class="text-center"><label class="badge badge-info"
                                                                           style="font-size: 13px;">{{ request_r.shipping_status }}</label>
                                            </td>

                                            <td class="text-center"><span
                                                    class="text-center">{{ request_r.branch.name }}</span>
                                            </td>

                                            <td class="text-center"><span
                                                    class="">{{ request_r.get_created_time }} {{ request_r.get_created_date }} </span>
                                            </td>
                                            <td class="text-center"><span
                                                    class="">{{ request_r.get_acceptations_time }} {{ request_r.get_acceptations_date }} </span>
                                            </td>
                                            <td class="text-center"><a href="/get_request/{{ request_r.number }}"
                                                                       class="fa fa-check"
                                                                       style="padding-top: 6px"></a>
                                            </td>
                                            {% if request.user.groups.all.0.name == 'user' %}
                                                {% if request_r.request_status == 'درحال بررسی توسط مدیر بازرگانی' or request_r.request_status == 'درحال بررسی توسط کارشناس بازرگانی' or request_r.request_status == 'اتمام تاییدیه' or request_r.expert.all.count != 0 %}
                                                    <td class="text-center"><a
                                                            href=""
                                                            class="fa fa-edit"
                                                            style="padding-top: 6px" disabled hidden></a></td>
                                                {% else %}
                                                    <td class="text-center"><a
                                                            href="/update_request/{{ request_r.number }}"
                                                            class="fa fa-edit"
                                                            style="padding-top: 6px"></a>
                                                    </td>
                                                {% endif %}
                                            {% endif %}
                                        </tr>
                                    {% endfor %}

                                    </tbody>
                                </table>
                            </div>
                            <div class="no-results text-center text-bold" style="display: none;">
                                <small>چیزی پیدا نشد</small>
                            </div>
                            <div class="table-output card-body table-responsive p-0">
                                <table class="table table-striped table-valign-middle">
                                    <thead>
                                    <tr>
                                        <th class="text-center">شماره</th>
                                        <th class="text-center">نام بنیاد</th>
                                        <th class="text-center">وضعیت تاییدیه</th>
                                        <th class="text-center">وضعیت ارسال</th>
                                        <th class="text-center">نام زندان</th>
                                        <th class="text-center">تاریخ ثبت</th>
                                        <th class="text-center">تاریخ تایید نهایی</th>
                                        <th class="text-center">مشاهده</th>
                                        {% if request.user.groups.all.0.name == 'user' %}
                                            <th class="text-center">ویرایش</th>
                                        {% endif %}

                                    </tr>
                                    </thead>
                                    <tbody class='table-body position-relative' style="width: 100px"></tbody>
                                </table>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div class="pagination-container">
                <div class="">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                </div>

                <ul class="pagination align-right float-right mr-auto" style="padding-top: 10px">
                    {% if page_obj.has_previous %}
                        <li {% ifequal 1 page_obj.number %} class="page-item active" {% endifequal %}>
                            <a class="page-link" href="?page=1">&laquo; 1
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page ={{ page_obj.previous_page_number }}">قبلی</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page= {{ page_obj.next_page_number }}">بعدی</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                {{ page_obj.paginator.num_pages }} &raquo;
                            </a></li>
                    {% endif %}
                </ul>

            </div>


        </div>
    </div>
</div>
<script type="application/javascript">

    let options = {
        palaceholder: '',
        twodigit: false,
        forceFarsiDigits: true,
        markToday: true,
        markHolidays: true,
        highlightSelectedDay: true,
        sync: true,
        gotoToday: true
    }
    kamaDatepicker("dtp", options)
</script>

<style type="text/css">
    @keyframes ldio-oiqxwq2p09 {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }

    .ldio-oiqxwq2p09 div {
        left: 47.5px;
        top: 24.5px;
        position: absolute;
        animation: ldio-oiqxwq2p09 linear 1.282051282051282s infinite;
        background: #ff0000;
        width: 5px;
        height: 11px;
        border-radius: 0px / 0px;
        transform-origin: 2.5px 25.5px;
    }

    .ldio-oiqxwq2p09 div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1752136752136753s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1.0683760683760684s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9615384615384616s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8547008547008548s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7478632478632479s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6410256410256411s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5341880341880342s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4273504273504274s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.32051282051282054s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2136752136752137s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.10683760683760685s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #ff0000;
    }

    .loadingio-spinner-spinner-985r529o724 {
        width: 44px;
        height: 44px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff;
    }

    .ldio-oiqxwq2p09 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(0.44);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

    .ldio-oiqxwq2p09 div {
        box-sizing: content-box;
    }

    /* generated by https://loading.io/ */
</style>
<script src="{% static 'dist/js/admin_p_crud/p_crud.js' %}"></script>