<div class="wrapper" id="parent_wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper" id="main_wrapper">
            <section class="content" xmlns="http://www.w3.org/1999/html">


                <div class="card">

                    <div class="card-body">
                        <article class="section" id="article-page">
                            <div id="post-content">
                                <div class="row">
                                    <div class="text-right col-3">
                                    </div>
                                    <div class="text-center col-6">
                                        <h5 class="article-title text-center">برگ تحویل کالا از شرکت بازرگانی حامیان
                                            امید فردا</h5>
                                    </div>
                                    <div class="text-left col-3">
                                        <span class="text-left"> شماره درخواست: {{ request_r.number }}</span><br>
                                    </div>

                                </div>
                                <br>
                                <div class="mb-2">

                                    <span>در تاریخ {{ deliver_date.get_deliver_date }}  اقلام ذیل از شرکت بازرگانی حامیان امید فردا از بابت توزیع در فروشگاه های زندانهای استان {{ request_r.prison.province }} تحویل انبار مرکزی فروشگاه های {{ request_r.prison.province }} گردید</span>

                                </div>

                                <table class="table table-bordered w-100" style="font-size: 15px;">


                                    <thead>
                                    <tr>
                                        <th class="text-right" colspan="4">وسیله حمل و شماره خودرو:</th>
                                        <th class="text-right" colspan="5">

                                            <span class="text-left">نام و شماره تلفن راننده:</span>

                                        </th>
                                    </tr>
                                    <tr bgcolor="#BFBFBF">
                                        <th class="text-center">ردیف</th>
                                        <th class="text-center">شرح کالا</th>
                                        <th class="text-center">گروه</th>
                                        <th class="text-center">برند</th>
                                        <th class="text-center">مقدار کالا</th>
                                        <th class="text-center">مقدار دریافتی</th>
                                        <th class="text-center">واحد کالا</th>
                                        <th class="text-center">قیمت مصرف کننده</th>

                                    </tr>
                                    </thead>
                                    <tbody class='position-relative'>
                                    {% for order in orders_r %}
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td class="text-center">{{ order.product.name }}</td>
                                            <td class="text-center">{{ order.product.category.name }}</td>
                                            <td class="text-center">{{ order.brand.company_name }}</td>
                                            <td class="text-center">{{ order.quantity }}</td>
                                            <td class="text-center">{{ order.delivered_quantity }}</td>
                                            <td class="text-center"> {{ order.product.based_quantity }}</td>
                                            {% load humanize %}
                                            {% load main_custom_tags %}
                                            <td class="text-center">{{ order.sell_deliver_price | intcomma }}
                                                ریال
                                            </td>


                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <table class="table table-bordered w-100" style="font-size: 15px;">


                                    <thead>
                                    <tr>
                                        <th class="text-center">نام و امضا تحویل دهنده کالا</th>
                                        <th class="text-center">نام و امضا تحویل گیرنده کالا( سرپرست انبار مرکزی)</th>
                                    </tr>
                                    <tr style="height: 100px">
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                    </tr>
                                    </thead>
                                </table>


                                <div class="row gutters pt-4">
                                    <div class="col-1 no-print" id="print-button">
                                        {% if request.user.groups.all.0.name == 'user' or request.user.groups.all.0.name == 'commercial_expert' %}
                                            {% if deliver_date.status == 0 %}
                                                <form action="/get_request/{{ request_r.number }}/supplier_orders/{{ supplier_r.id }}/edit_factor">
                                                    <button type="submit" class="btn btn-info float-right ml-2"
                                                            style="margin-right: 5px;" id="editButton">
                                                        <i class="fa fa-edit"></i> ویرایش
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                    <div class="col-1 no-print" id="print-button">
                                        {% if request.user.groups.all.0.name == 'user' or request.user.groups.all.0.name == 'commercial_expert' %}
                                            {% if deliver_date.status == 0 %}
                                                <form action="/request/{{ request_r.number }}/submit_factor/{{ supplier_r.id }}">
                                                    <button type="submit" class="btn btn-danger float-right ml-2"
                                                            style="margin-right: 5px;" id="submitButton">
                                                        <i class="fa fa-check"></i> ثبت نهایی رسید تحویل
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                    <div class="col-10 no-print" id="print-button">
                                        <form action="/get_request/{{ request_r.number }}/supplier_orders">
                                            <button type="submit" class="btn btn-info float-left ml-2"
                                                    style="margin-right: 5px;">
                                                <i class="fa fa-arrow-left"></i> برگشت
                                            </button>

                                            <button type="button" onclick="PrintElem()"
                                                    class="btn btn-primary float-left ml-2"
                                                    style="margin-right: 5px;">
                                                <i class="fa fa-print"></i> چاپ رسید انبار
                                            </button>
                                        </form>

                                    </div>
                                </div>


                            </div>

                        </article>
                    </div>

                </div>

            </section>

        </div>
    </div>

</div>
<script src="{% static 'dist/js/factor_related.js' %}"></script>
<script src="{% static 'dist/js/admin_p_crud/p_crud.js' %}"></script>
<script src="{% static 'dist/js/request_related.js' %}"></script>