<div class="wrapper" id="parent_wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper" id="main_wrapper">
            <section class="content" xmlns="http://www.w3.org/1999/html">


                <div class="card">

                    <div class="card-body">
                        <article class="section" id="article-page">
                            <div id="post-content">
                                <div class="row">
                                    <div class="text-right col-4">
                                        <img src="{% static 'dist/img/logo.png' %}"
                                             style="width: 74px;margin-right: 80px">
                                        <br>
                                        <div class="text-center float-right">
                                            <span class="text-bold">شرکت بازرگانی حامیان امید فردا</span><br>
                                            <span class="text-bold">شماره ثبت: ۱۵۹۲۵۳</span><br>
                                            <span>.Hamian Omid Farda Trading Co</span>
                                        </div>
                                    </div>
                                    <div class="text-center col-4">

                                    </div>
                                    <div class="text-left col-4 pt-5">
                                        <span class="text-left"> تاریخ:{{ request_r.get_created_date }}</span><br>
                                        <span class="text-left"> شماره درخواست: {{ request_r.number }}</span><br>
                                        <span class="text-left"> پیوست:.............</span>
                                    </div>

                                </div>

                                <hr>
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="text-right pb-1" style="font-family: 'B Titr'">مدیریت محترم
                                            شرکت {{ supplier_r.company_name }}</h5>
                                        <h5 class="text-right pb-1 text-bold" style="font-family: Arial">موضوع: درخواست
                                            کالا</h5>
                                        <h5 class="text-right pb-1 text-bold" style="font-family: Arial">سلام علیکم</h5>

                                    </div>
                                </div>
                                <div class="article-body paragraph" style="font-size: 18px;">
                                    <p>
                                        <span class="pr-5" style="font-family: IranNastaliq; font-size: 30px">با صلوات بر محمد و آل محمد(صلی اله علیه وآله وسلم)</span>
                                        <span>احتراماً، پیرو هماهنگی فی مابین مقتضی است اقلام لیست پیوست را بر اساس قیمت توافق شده به استان {{ request_r.prison.name }}  تحویل نموده و اسناد مربوط را جهت سیر مراحل بعد به این شرکت ارسال فرمائید.</span><br>
                                    </p>
                                    <p style="line-height: 45px">
                                        <span>تذکرات:</span><br>
                                        <span class="pl-5">۱</span>
                                        <span class="w-75">قبل از ارسال کالا نام و شماره تلفن راننده، نوع خودرو، شماره راهور آن را مشخص و جهت هماهنگی تحویل کالا حتما با شماره 0{{ request_r.branch.phone_number }} جناب آقای/خانم {{ request_r.branch.branch_deputy }} هماهنگ نمائید.</span><br>
                                        <span class="pl-5">۲</span>
                                        <span>با توجه به قوانین و مقررات امنیتی ورود به زندانها و تخلیه کالا، میبایست حداکثر تا ساعت ۹ صبح کالا به محل تخلیه رسیده باشد. ضمنا لازم است راننده حمل کننده را نیز نسبت به موضوعات مربوط توجیه نمائید</span><br>
                                        <span class="pl-5">۳</span>
                                        <span>فاکتور فروش و رسید انبار را تا ۴۸ ساعت پس از تحویل کالا به این شرکت فکس نموده و اصل اسناد را نیز حداکثر طی یک هفته به شرکت بازرگانی حامیان امید فردا تحویل نمائید.</span><br>
                                        <span class="pl-5">۴</span>
                                        <span>تاریخ تسویه وجود فاکتور آن شرکت از زمان تحویل اسناد به شرکت حامیان محاسبه و اقدام خواهد شد</span><br>
                                    </p>
                                    <div class="row gutters w-100">
                                        <div class="col-6 mb-2">
                                            <span>آدرس: {{ request_r.branch.address }}</span>
                                        </div>
                                        <div class="col-6 row float-left justify-content-end">
                                            <div class="col-3 mt-2 text-left">
                                                <span class="">تاریخ ارسال:</span>
                                            </div>
                                            {% if deliver_date is None %}
                                                <div class="col-3 mt-2" id="deliverdate">..................</div>
                                            {% else %}
                                                <div class="col-3 mt-2" id="deliverdate">{{ deliver_date }}</div>
                                            {% endif %}
                                            {% if request.user.groups.all.0.name != 'ceo' %}
                                                {% if deliver_date is None %}
                                                    <div class="col-4 row mb-3 justify-content-end no-print">

                                                        <button class=" btn btn-outline-secondary fa fa-calendar float-left"
                                                                id="dtp"></button>
                                                        <button class="mr-2 btn btn-info float-left no-print"
                                                                onclick="setDeliverDate({{ request_r.number }},{{ supplier_r.id }})">
                                                            ثبت تاریخ
                                                        </button>

                                                    </div>
                                                {% endif %}
                                            {% endif %}

                                        </div>

                                    </div>

                                    <p style="text-align: justify;">

                                    <table class="table table-bordered" style="font-size: 15px;">


                                        <thead>
                                        <tr>

                                            <th class="text-center">شرح کالا</th>

                                            <th class="text-center">برند</th>
                                            <th class="text-center">واحد</th>
                                            <th class="text-center">تعداد</th>
                                            <th class="text-center">قیمت مصرف کننده</th>

                                            <th class="text-center">درصد تخفیف</th>
                                            <th class="text-center">فی خرید</th>
                                            <th class="text-center">جمع کل</th>
                                        </tr>
                                        </thead>
                                        <tbody class='position-relative'>
                                        {% for order in orders_r %}
                                            <tr>

                                                <td class="text-center">{{ order.product.name }}</td>

                                                <td class="text-center">{{ order.brand.company_name }}</td>
                                                <td class="text-center"> {{ order.product.based_quantity }}</td>
                                                <td class="text-center">{{ order.quantity }}</td>
                                                {% load humanize %}
                                                <td class="text-center">{{ order.price|intcomma }} ریال</td>

                                                <td class="text-center">{{ supplier_r.margin }}</td>
                                                {% load main_custom_tags %}
                                                <td class="text-center">{% if supplier_r.margin is not None %}
                                                    {{ order.price | get_price:supplier_r.margin | intcomma }}
                                                    ریال  {% else %}
                                                    {{ order.price | intcomma }} ریال {% endif %}</td>
                                                <td class="text-center">{% if order.product.percentage != 0 %}
                                                    {{ order.price | multiply_price:order.quantity | get_price:supplier_r.margin | intcomma }}
                                                    ریال  {% else %}
                                                    {{ order.price | multiply_price:order.quantity | intcomma }}
                                                    ریال {% endif %}</td>

                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>


                                    </p>
                                    <div class="col-11 mt-5">
                                        <div class="text-center">
                                            <h5 class="text-left pb-1" style="font-family: 'B Titr'">محمد برهانی
                                                پور</h5>
                                            <h5 class="text-left ml-4" style="font-family: 'B Titr'">مدیر عامل</h5>
                                        </div>
                                    </div>

                                    <div class="text-right pt-4">

                                        <div class="col-12 no-print" id="print-button">
                                            <form action="/get_request/{{ request_r.number }}/supplier_orders">
                                                <button type="submit" class="btn btn-info float-left ml-2"
                                                        style="margin-right: 5px;">
                                                    <i class="fa fa-arrow-left"></i> برگشت
                                                </button>

                                                <button type="button" onclick="PrintElem()"
                                                        class="btn btn-primary float-left ml-2"
                                                        style="margin-right: 5px;">
                                                    <i class="fa fa-print"></i> چاپ درخواست
                                                </button>
                                            </form>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </article>
                    </div>

                </div>

            </section>

        </div>
    </div>

</div>
<script type="application/javascript">


    let options = {
        palaceholder: '',
        twodigit: false,
        forceFarsiDigits: true,
        markToday: true,
        markHolidays: true,
        highlightSelectedDay: true,
        sync: true,
        gotoToday: true
    }
    kamaDatepicker("dtp", options)


</script>
<script src="{% static 'dist/js/admin_p_crud/p_crud.js' %}"></script>
<script src="{% static 'dist/js/request_related.js' %}"></script>