<div class="wrapper" id="parent_wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper" id="main_wrapper">
            <section class="content" xmlns="http://www.w3.org/1999/html">


                <div class="card">

                    <div class="card-body">
                        <article class="section" id="article-page">
                            <div id="post-content">
                                <div class="row">
                                    <div class="text-right col-4">
                                        <img src="{% static 'dist/img/logo.png' %}"
                                             style="width: 80px;margin-right: 34px">
                                        <br>
                                        <span style="font-family: 'B Titr'">بازرگانی حامیان امید فردا</span><br>

                                    </div>
                                    <div class="text-center col-4">
                                        <h5 style="font-family: IranNastaliq;font-size: 40px"
                                            class="article-title text-center">بسم الله الرحمن الرحیم</h5>
                                        <h5 class="article-title text-center">فرم درخواست کالا از شرکت بازرگانی حامیان
                                            امید فردا</h5>
                                    </div>
                                    <div class="text-left col-4">
                                        <span class="text-left"> شماره درخواست: {{ request_r.number }}</span><br>
                                        <span class="text-left">تاریخ ثبت: {{ request_r.get_created_date }}</span><br>
                                        <span class="text-left"> پیوست: ندارد</span>
                                    </div>

                                </div>
                                <hr>
                                <br>
                                <div class="article-body paragraph" style="font-size: 18px;"><p>
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="text-right pb-1" style="font-family: 'B Titr'">جناب آقای مهدیار انصاری
                                            </h5>
                                            <h5 class="text-right pb-1 text-bold" style="font-family: 'B Titr'">مدیر
                                                عامل شرکت بازرگانی حامیان امید</h5>
                                            <h5 class="text-right pb-1 text-bold" style="font-family: 'B Titr'">موضوع:
                                                درخواست ندامتگاه {{ request_r.branch.name }}</h5>

                                        </div>
                                    </div>
                                    <div>
                                        <span>بدینوسیله این درخواست با شماره و تاریخ درج شده در آن جهت ارسال به ندامتگاه {{ request_r.branch.name }} ( سرپرست آقای {{ request_r.branch.branch_deputy }} )، حضورتان ارسال میگردد</span>
                                    </div>
                                    <br>
                                    <div><h6>اطلاعات مربوط به درخواست کننده:</h6></div>
                                    <div class="row invoice-info">

                                        <div class="col-sm-4 invoice-col">
                                            <address>

                                                نام بنیاد: {{ request_r.prison.name }}<br>
                                                آدرس: {{ request_r.branch.address }}<br>
                                                تلفن: 0{{ request_r.branch.phone_number }}<br>

                                            </address>
                                        </div>
                                        <div class="col-sm-4 invoice-col">
                                            <address>

                                                نام: {{ request_user.userprofile.first_name }}<br>
                                                نام خانوادگی: {{ request_user.userprofile.last_name }}<br>

                                            </address>
                                        </div>
                                        <div class="col-sm-4 invoice-col">
                                            <address>

                                                وضعیت تاییدیه: {{ request_r.request_status }}<br>
                                                وضعیت درخواست: {{ request_r.shipping_status }}<br>


                                            </address>
                                        </div>
                                    </div>
                                    <div class="table-responsive card-body">
                                        <table class="table table-bordered">

                                            <div class="text-center border-primary">محصولات انتخاب شده جهت مصرف در
                                                فروشگاه
                                                ندامتگاه {{ request_r.branch.name }}
                                            </div>
                                            <thead>
                                            <tr>
                                                <th class="text-center">شماره</th>
                                                <th class="text-center">نام کالا</th>
                                                <th class="text-center">گروه</th>
                                                <th class="text-center">تامین کننده</th>
                                                <th class="text-center">برند</th>
                                                <th class="text-center">کمیت</th>
                                                <th class="text-center">قیمت نقدی استان</th>
                                                <th class="text-center">قیمت دوماهه استان</th>
                                                {% if request.user.groups.all.0.name != 'user' %}
                                                    <th class="text-center">قیمت خرید</th>
                                                    <th class="text-center">قیمت مصرف کننده</th>
                                                {% endif %}
                                            </tr>
                                            </thead>
                                            <tbody class='position-relative'>
                                            {% for order in orders_r %}
                                                <tr>
                                                    <td class="text-center">{{ forloop.counter }}</td>
                                                    <td class="text-center">{{ order.product.name }}</td>
                                                    <td class="text-center">{{ order.product.category.name }}</td>
                                                    <td class="text-center">{{ order.supplier.company_name }}</td>
                                                    <td class="text-center">{{ order.brand.company_name }}</td>
                                                    <td class="text-center">{{ order.quantity }} {{ order.product.based_quantity }}</td>
                                                    {% load humanize %}
                                                    <td class="text-center">{{ order.price|intcomma }} ریال</td>
                                                    <td class="text-center">{{ order.price_2m|intcomma }} ریال</td>
                                                    {% if request.user.groups.all.0.name != 'user' %}
                                                        <td class="text-center">{{ order.buy_price|intcomma }} ریال</td>
                                                        <td class="text-center">{{ order.sell_price|intcomma }} ریال
                                                        </td>
                                                    {% endif %}
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>


                                    </p>
                                    <br>

                                    {% if request.user.groups.all.0.name == 'commercial_manager' %}
                                        <div class="w-100 text-center pt-2 no-print col-12">
                                            {% load main_custom_tags %}
                                            {% if request_r.expert_acceptation.all.count is not 0 %}
                                                <select class="btn btn-outline-dark text-right show-tick dropdown">
                                                    {% for expert in  request_r.expert_acceptation.values_list %}
                                                        <option class="text-bold no-print text-center">این درخواست توسط
                                                            کارشناس بازرگانی آقای/خانم {{ expert.4 | get_name }} تایید
                                                            شده
                                                            است
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </div>
                                    {% elif signed_r is True and request.user.groups.all.0.name == 'ceo' %}
                                        <div class="w-100 text-center pt-2 no-print col-12">
                                            {% load main_custom_tags %}
                                            {% if request_r.expert_acceptation.all.count is not 0 %}
                                                <select class="btn btn-outline-dark text-right show-tick dropdown">
                                                    <option class="no-print text-center">این درخواست توسط مدیر بازرگانی
                                                        تایید شده است
                                                    </option>
                                                    {% for expert in  request_r.expert_acceptation.values_list %}
                                                        <option class="no-print text-center">این درخواست توسط
                                                            کارشناس بازرگانی آقای/خانم {{ expert.4 | get_name }} تایید
                                                            شده
                                                            است
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <div class="w-100 text-center pt-2 no-print col-12">
                                        {% load main_custom_tags %}
                                        {% if request_r.last_returned_expert.all.count is not 0 %}
                                            <select class="btn btn-outline-dark text-right show-tick dropdown">
                                                {% for expert in  request_r.last_returned_expert.values_list %}
                                                    <option class="no-print text-center">این درخواست توسط
                                                        کارشناس بازرگانی آقای/خانم {{ expert.4 | get_name }} درحال بررسی
                                                        است
                                                    </option>
                                                {% endfor %}
                                            </select>
                                        {% endif %}
                                    </div>
                                    <div class="text-right pt-4">
                                        <div class="row no- pt-3 no-print">
                                            {% if request.user.groups.all.0.name == 'ceo' or request.user.groups.all.0.name == 'commercial_expert' %}
                                                <div class="col-3 justify-content-start" id="print-button">
                                                    {% if request_r.shipping_status == 'درحال تاییدیه' or request_r.shipping_status == 'در حال ارسال به تامین کنندگان' and request_r.request_status != 'درحال بررسی توسط مدیر بازرگانی' and request.user.groups.all.0.name != 'commercial_expert' %}
                                                        <form action="/update_request/{{ request_r.number }}">
                                                            <button type="submit" class="btn btn-info float-right ml-2"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-edit"></i> ویرایش
                                                            </button>
                                                        </form>
                                                    {% endif %}

                                                </div>

                                                <div class="row gutters col-3 pl-0 ml-0 justify-content-end"
                                                     id="print-button">
                                                    {% if request.user.groups.all.0.name == 'ceo' and request_r.request_status == 'اتمام تاییدیه' %}
                                                        <form action="/decline/request/{{ request_r.number }}"
                                                              method="post">
                                                            <button type="submit" class="btn btn-danger float-right"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-close"></i>برگشت درخواست
                                                            </button>
                                                        </form>
                                                    {% elif request.user.groups.all.0.name == 'ceo' and request_r.request_status == 'درحال بررسی توسط مدیر عامل' %}

                                                        <form class="float-left"
                                                              action="/accept/request/{{ request_r.number }}"
                                                              method="post">
                                                            <button type="submit" class="btn btn-success float-left"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-check"></i> تایید
                                                            </button>
                                                        </form>
                                                        {% if signed_r is True %}
                                                            <form action="/decline/request/{{ request_r.number }}"
                                                                  method="post">
                                                                <button type="submit" class="btn btn-danger float-right"
                                                                        style="margin-right: 5px;">
                                                                    <i class="fa fa-close"></i> عدم تایید
                                                                </button>
                                                            </form>
                                                        {% endif %}
                                                    {% elif request.user.groups.all.0.name == 'commercial_expert' and signed_r is False and request_r.shipping_status != 'تایید نشده' %}
                                                        {% if request_r.expert is not None %}
                                                            <form action="/accept/request/{{ request_r.number }}"
                                                                  method="post">
                                                                <button type="submit" class="btn btn-success float-left"
                                                                        style="margin-right: 5px;">
                                                                    <i class="fa fa-check"></i> تایید
                                                                </button>
                                                            </form>
                                                        {% endif %}
                                                    {% endif %}

                                                </div>
                                                <div class="col-3  pr-0 mr-0" id="print-button">
                                                    {% if request.user.groups.all.0.name == 'ceo' and signed_r is True %}


                                                        <form action="/get_request/{{ request_r.number }}/supplier_orders"
                                                              method="post" class="mb-0">
                                                            <button type="submit" class="btn btn-primary float-left"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-search"></i> لیست درخواست تامین
                                                                کنندگان
                                                            </button>
                                                        </form>


                                                    {% elif signed_r %}
                                                        <form action="/get_request/{{ request_r.number }}/supplier_orders"
                                                              method="post">
                                                            <button type="submit" class="btn btn-primary float-left"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-search"></i> لیست درخواست تامین کنندگان
                                                            </button>
                                                        </form>
                                                    {% elif signed_r is False and request_r.request_status == 'درحال بررسی توسط مدیر عامل' %}
                                                        <form action="/decline/request/{{ request_r.number }}"
                                                              method="post">
                                                            <button type="submit" class="btn btn-danger float-right"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-close"></i> عدم تایید
                                                            </button>
                                                        </form>
                                                    {% elif request_r.shipping_status == 'تایید نشده' %}
                                                        <form action="/decline/request/return_declined_request/{{ request_r.number }}"
                                                              method="post">
                                                            <button type="submit" class="btn btn-danger float-right"
                                                                    style="margin-right: 5px;"
                                                                    onclick="alert('باید توجه داشت که برگشت دادن این درخواست به منزله شروع دوباره روند کاری آن میباشد')">
                                                                <i class="fa fa-forward"></i> برگشت دادن درخواست
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                                <div class="col-3" id="print-button">
                                                    {% if request.user.groups.all.0.name == 'commercial_expert' %}
                                                        <form {% if request_r.request_status == 'اتمام تاییدیه' %}
                                                            action="/user/completed_request" {% elif request_r.request_status == 'درحال بررسی توسط کارشناس بازرگانی' %}
                                                            action="/user/expert_requests" {% else %}
                                                            action="/user/requests" {% endif %}>
                                                            <button type="submit" class="btn btn-info float-left ml-2"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-arrow-left"></i> برگشت
                                                            </button>


                                                            <button type="button" onclick="PrintElem()"
                                                                    class="btn btn-primary float-left ml-2"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-print"></i> چاپ درخواست
                                                            </button>
                                                        </form>
                                                    {% else %}
                                                        <form {% if request_r.request_status == 'اتمام تاییدیه' %}
                                                            action="/user/completed_request" {% elif request_r.request_status == 'درحال بررسی توسط کارشناس بازرگانی' or request_r.request_status == 'در حال بررسی توسط مدیر بازرگانی' %}
                                                            action="/user/reviewing_request" {% else %}
                                                            action="/user/requests" {% endif %}>
                                                            <button type="submit" class="btn btn-info float-left ml-2"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-arrow-left"></i> برگشت
                                                            </button>


                                                            <button type="button" onclick="PrintElem()"
                                                                    class="btn btn-primary float-left ml-2"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-print"></i> چاپ درخواست
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                            {% elif request.user.groups.all.0.name == 'commercial_manager' and request_r.request_status == 'درحال بررسی توسط مدیر بازرگانی' %}
                                                <div class="col-1 justify-content-start" id="print-button">
                                                    <form action="/update_request/{{ request_r.number }}">
                                                        <button type="submit" class="btn btn-info float-right ml-2"
                                                                style="margin-right: 5px;" id="edit_button">
                                                            <i class="fa fa-edit"></i> ویرایش
                                                        </button>
                                                    </form>


                                                </div>

                                                <div class="col-4 justify-content-start" id="print-button">
                                                    {% if request_r.expert.all.count == 0 %}

                                                        {#                                                            <button type="submit" class="btn btn-info float-right ml-2"#}
                                                        {#                                                                    style="margin-right: 5px;"#}
                                                        {#                                                                    onclick="handleCommercialExpert({{ request_r.number }})"#}
                                                        {#                                                                    id="ce_requestrsb">#}
                                                        {#                                                                <i class="fa fa-check"></i>ارسال به کارشناسان#}
                                                        {#                                                            </button>#}
                                                        <select class="btn btn-outline-dark text-right show-tick dropdown"
                                                                data-dropup-auto="false" title="برند" id="ce_requesta">
                                                            {% if request_r.expert.all.count == 0 %}
                                                                <option value='all'>همه</option>
                                                            {% endif %}
                                                            {% for category in categories_r %}
                                                                <option value="{{ category.product__category__user_expert_id }}">
                                                                    کارشناس {{ category.product__category }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                        <button type="submit" class="btn btn-info float-right ml-2"
                                                                style="margin-right: 5px;"
                                                                onclick="handleCommercialExpert({{ request_r.number }})"
                                                                id="ce_requestrsb">
                                                            <i class="fa fa-check"></i> ارسال درخواست به
                                                        </button>

                                                    {% else %}
                                                        <select class="btn btn-outline-dark text-right show-tick dropdown"
                                                                data-dropup-auto="false" title="برند"
                                                                id="ce_request">
                                                            <option value='0'>کارشناس</option>
                                                            {% for category in categories_r %}
                                                                <option value="{{ category.product__category__user_expert_id }}">
                                                                    کارشناس {{ category.product__category }}
                                                                </option>
                                                            {% endfor %}
                                                        </select>
                                                        <button type="submit" class="btn btn-info float-right ml-2"
                                                                style="margin-right: 5px;"
                                                                onclick="handleCommercialReturnExpert({{ request_r.number }})"
                                                                id="ce_requestsb">
                                                            <i class="fa fa-check"></i> ارسال درخواست به
                                                        </button>
                                                    {% endif %}

                                                </div>

                                                <div class="col-1" id="print-button">
                                                    <form action="/accept/request/{{ request_r.number }}"
                                                          class="text-left w-0" method="post" id="accept_button">
                                                        <button type="submit" class="btn btn-success"
                                                                style="margin-right: 5px;" id="accept_button">
                                                            <i class="fa fa-check"></i> تایید
                                                        </button>
                                                    </form>


                                                </div>
                                                <div class="col-2 no-print">
                                                    <form action="/decline/request/{{ request_r.number }}"
                                                          class="text-right" method="post" id="decline_button">
                                                        <button type="submit" class="btn btn-danger"
                                                                style="margin-right: 5px;" id="decline_button">
                                                            <i class="fa fa-close"></i> عدم تایید
                                                        </button>
                                                    </form>
                                                </div>
                                                <div class="col-4" id="print-button">
                                                    <form {% if request_r.request_status == 'اتمام تاییدیه' %}
                                                        action="/user/completed_request" {% elif request_r.request_status == 'درحال بررسی توسط کارشناس بازرگانی' %}
                                                        action="/user/expert_requests" {% else %}
                                                        action="/user/requests" {% endif %}>
                                                        <button type="submit" class="btn btn-info float-left ml-2"
                                                                style="margin-right: 5px;">
                                                            <i class="fa fa-arrow-left"></i>برگشت
                                                        </button>


                                                        <button type="button" onclick="PrintElem()"
                                                                class="btn btn-primary float-left ml-2"
                                                                style="margin-right: 5px;">
                                                            <i class="fa fa-print"></i> چاپ درخواست
                                                        </button>

                                                    </form>

                                                </div>
                                            {% elif request.user.groups.all.0.name == 'commercial_manager' and request_r.shipping_status == 'در حال ارسال به تامین کنندگان' %}
                                                <div class="col-8" id="print-button">
                                                    <form action="/get_request/{{ request_r.number }}/supplier_orders"
                                                          method="post">
                                                        <button type="submit" class="btn btn-primary float-left"
                                                                style="margin-right: 5px;">
                                                            <i class="fa fa-search"></i> لیست درخواست تامین کنندگان
                                                        </button>
                                                    </form>

                                                </div>
                                                <div class="col-4" id="print-button">
                                                    <form {% if request_r.request_status == 'اتمام تاییدیه' %}
                                                        action="/user/completed_request" {% elif request_r.request_status == 'درحال بررسی توسط کارشناس بازرگانی' %}
                                                        action="/user/expert_requests" {% else %}
                                                        action="/user/requests" {% endif %}>
                                                        <button type="submit" class="btn btn-info float-left ml-2"
                                                                style="margin-right: 5px;">
                                                            <i class="fa fa-arrow-left"></i>برگشت
                                                        </button>


                                                        <button type="button" onclick="PrintElem()"
                                                                class="btn btn-primary float-left ml-2"
                                                                style="margin-right: 5px;">
                                                            <i class="fa fa-print"></i> چاپ درخواست
                                                        </button>

                                                    </form>

                                                </div>

                                            {% elif request.user.groups.all.0.name == 'user' %}
                                                <div class="col-6" id="print-button">
                                                    {% if request_r.request_status == 'اتمام تاییدیه' %}
                                                        <form action="/get_request/{{ request_r.number }}/supplier_orders"
                                                              method="post">
                                                            <button type="submit" class="btn btn-primary float-left"
                                                                    style="margin-right: 5px;">
                                                                <i class="fa fa-search"></i> رسید های تحویل کالا
                                                            </button>
                                                        </form>
                                                    {% endif %}
                                                </div>
                                                <div class="col-6" id="print-button">
                                                    <form action="/user/requests">
                                                        <button type="submit" class="btn btn-info float-left ml-2"
                                                                style="margin-right: 5px;">
                                                            <i class="fa fa-arrow-left"></i>برگشت
                                                        </button>


                                                        <button type="button" onclick="PrintElem()"
                                                                class="btn btn-primary float-left ml-2"
                                                                style="margin-right: 5px;">
                                                            <i class="fa fa-print"></i> چاپ درخواست
                                                        </button>

                                                    </form>

                                                </div>
                                            {% endif %}

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </article>
                    </div>

                </div>
                <div class="card w-100 no-print">
                    <div class="card-header">
                        <div class="text-center">
                            <div class="col-12 text-center">
                                <h5>تیکت های مربوط به این درخواست</h5>
                            </div>
                            <div class="row gutters justify-content-center">
                                <input class="input input-field col-2 m-3" id="ticket_title"
                                       placeholder="عنوان تیکت">
                                <textarea class="w-50 m-3 text-center" placeholder="متن تیکت"
                                          id="ticket_con"></textarea>
                                <button class="btn btn-primary m-3" type="button"
                                        onclick="handleTicket({{ request_r.number }})">ارسال
                                </button>
                            </div>
                        </div>
                        {% if tickets_r is not None %}
                            {% for ticket in tickets_r %}
                                {% if ticket.request.number == request_r.number %}
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="card-title">عنوان: {{ ticket.title }} </h5>
                                            {% if ticket.created_date != None %}
                                                <div class="date-text">
                                                    تاریخ و زمان
                                                    تیکت: {{ ticket.get_created_time }} {{ ticket.get_created_date }}
                                                </div>
                                            {% endif %}
                                            <div class="card-tools">
                                                <button type="button" class="btn btn-tool" data-widget="collapse"
                                                        data-toggle="tooltip"
                                                        title="Collapse">
                                                    <i class="fa fa-minus"></i></button>
                                            </div>
                                        </div>
                                        {% for conversation in conversations_r %}
                                            {% if conversation.ticket.id == ticket.id %}
                                                <div class="card-body collapse">
                                                    <div class="card pr-3 pt-2 pb-2">
                                                    <span>از طرف
                                                        {% if conversation.comment_user.groups.all.0.name == 'commercial_manager' %}
                                                            مدیر
                                                            بازرگانی{% elif conversation.comment_user.groups.all.0.name == 'user' %}
                                                            کاربر{% elif conversation.comment_user.groups.all.0.name == 'commercial_expert' %}
                                                            کارشناس
                                                            مربوطه{% elif conversation.comment_user.groups.all.0.name == 'ceo' %}
                                                            مدیر عامل{% endif %}: {{ conversation.comment }}</span><br>
                                                        {% if conversation.reply != None %}
                                                            <span>پاسخ از طرف
                                                                {% if conversation.reply_user.groups.all.0.name == 'commercial_manager' %}
                                                                    مدیر
                                                                    بازرگانی{% elif conversation.reply_user.groups.all.0.name == 'user' %}
                                                                    کاربر{% elif conversation.reply_user.groups.all.0.name == 'commercial_expert' %}
                                                                    کارشناس
                                                                    مربوطه{% elif conversation.reply_user.groups.all.0.name == 'ceo' %}
                                                                    مدیر عامل{% endif %}
                                                                : {{ conversation.reply }}</span>
                                                        {% else %}
                                                            {% if conversation.ticket.request.user == request.user %}
                                                                <div class="row" id="div-{{ conversation.id }}">
                                                                    <div class="col-4"><textarea
                                                                            id='{{ conversation.id }}'
                                                                            class="mb-4 w-100 pr-2 pl-2"
                                                                            type="text"
                                                                            placeholder="متن پاسخ:"></textarea>
                                                                    </div>
                                                                    <div class="col-4">
                                                                        <button class="btn btn-outline-primary"
                                                                                type="button"
                                                                                onclick="handleConversation('{{ conversation.id }}','{{ request.user.email }}')">
                                                                            ثبت پاسخ
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}
                                                    </div>


                                                </div>
                                            {% endif %}
                                        {% endfor %}


                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>


            </section>
        </div>
    </div>
</div>
<script src="{% static 'dist/js/admin_p_crud/p_crud.js' %}"></script>
<script src="{% static 'dist/js/request_related.js' %}"></script>