<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ایجاد برند</h1>
                    </div>
                    <div class="col-sm-6">

                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">ایجاد برند</li>
                        </ol>


                    </div>
                </div>
            </div>
        </section>

        <div class="card">
            <div class="card-body">
                <div class="account-settings">
                    <div class="about">
                        <h5 class="user-name text-warning">توجه</h5>

                        <p class="text-justify">
                            کاربر محترم توجه داشته باشید که ایجاد یک برند با توجه به موجودی انبار های سازمان باید صورت گیرد در غیر این صورت ایجاد برند جدید در روند درخواست های جدید میتواند باعث مشکلات درون سازمانی شود.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <form class="wrapper needs-validation" id="form-validation" novalidate method="POST">
            {% csrf_token %}
            <div class="d-flex text-center justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row gutters justify-content-center">

                        <div class="card h-100 mr-2">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-3">مشخصات برند</h6>
                                    </div>
                                    <div class="w-100">
                                        <div class="form-group">
                                            <input type="text" class="w-100 form-control" id="name"
                                                   placeholder="نام" name="name" required>
                                            <div class="invalid-feedback">
                                                نام را وارد کنید
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 w-100">
                                        <div class="text-left">
                                            <button type="submit" id="" name="submit" class="w-100 btn btn-primary"
                                                    value="submit">ثبت
                                            </button>
                                        </div>
                                    </div>


                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'dist/js/u_retrieve.js' %}"></script>