<div class="wrapper" id="parent_wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper" id="main_wrapper">
            <section class="content" xmlns="http://www.w3.org/1999/html">


                <div class="card">

                    <div class="card-body">
                        <article class="section" id="article-page">
                            <div id="post-content">
                                <div class="row">
                                    <div class="text-right col-3">
                                        <img src="{% static 'dist/img/logo.png' %}"
                                             style="width: 60px;margin-right: 46px">
                                        <br>
                                        <span style="font-family: 'B Titr'">بازرگانی حامیان امید فردا</span><br>

                                    </div>
                                    <div class="text-center col-6">
                                        <h5 class="article-title text-center">اعلامیه قیمت کالا و خدمات</h5>
                                    </div>
                                    <div class="text-left col-3">
                                        <span class="text-left"> شماره سریال: {{ deliver_date.number }}</span><br>
                                        {% if deliver_date.get_received_date is not None %}
                                            <span class="text-left"> تاریخ: {{ deliver_date.get_received_date }}</span>
                                        {% endif %}
                                    </div>

                                </div>
                                <br>

                                <table class="table table-bordered w-100" style="font-size: 15px;">


                                    <thead>
                                    <tr>
                                        <th class="text-center" colspan="10">مشخصات فروشنده</th>

                                    </tr>

                                    </thead>
                                    <tbody class='position-relative'>
                                    <tr>
                                        <td colspan="10">
                                            <div class="row">
                                                <div class="text-right col-6">
                                                    <span>نام شخص حقیقی / حقوقی: شرکت بازرگانی حامیان امید فردا</span><br>
                                                    <span>نشانی استان: تهران - شهرستان: تهران - شهر: تهران</span><br>
                                                    <span>نشانی: خیابان شریعتی، بالاتر از میرداماد، دوراهی قلهک، مجتمع تجاری اداری قلهک ط ۸</span>

                                                </div>
                                                <div class="text-right col-6">
                                                    <span>شماره اقتصادی: ۴۱۱۴۱۳۸۴۶۱۵۳</span> <span>شماره/ ثبت / شماره ملی: ۱۰۱۰۲۰۱۴۵۱</span><br>
                                                    <span>کد پستی ۱۰ رقمی: ۱۹۱۳۸۷۷۵۱۱</span><br>
                                                    <span>شماره تلفن / نمابر: ۲۲۶۰۰۳۱۴</span><br>

                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="12">مشخصات خریدار</th>

                                    </tr>
                                    <tr>
                                        <td colspan="12">
                                            <div class="row">
                                                <div class="text-right col-6">
                                                    <span>نام شخص حقیقی / حقوقی: {{ request_r.prison.name }}</span><br>
                                                    <span>نشانی استان: {{ request_r.prison.province.name }} </span><br>
                                                    <span>نشانی: {{ request_r.prison.address }}</span>

                                                </div>
                                                <div class="text-right col-6">
                                                    <span>شماره اقتصادی: </span>
                                                    <span>شماره/ ثبت / شماره ملی: </span><br>
                                                    <span>کد پستی ۱۰ رقمی: </span><br>
                                                    <span>شماره تلفن / نمابر: 0 {{ request_r.prison.phone_number }} </span><br>

                                                </div>

                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="text-center" colspan="10">مشخصات کالا یا خدمات مورد معامله</th>

                                    </tr>
                                    <tr>
                                        <td class="text-center">ردیف</td>
                                        <td class="text-center">شرح کالا</td>
                                        <td class="text-center">قیمت مصرف کننده</td>
                                        <td class="text-center">مقدار</td>
                                        <td class="text-center">واحد</td>
                                        <td class="text-center">فی واحد(ریال)</td>
                                        <td class="text-center">مبلغ کل(ریال)</td>
                                        <td class="text-center">جمع مالیات و عوارض(ریال)</td>
                                        <td class="text-center">مبلغ قابل پرداخت(ریال)</td>

                                    </tr>
                                    {% load main_custom_tags %}
                                    {% load humanize %}
                                    {% for order in orders_r %}
                                        <tr>
                                            <td class="text-center">{{ forloop.counter }}</td>
                                            <td class="text-center">{{ order.product.name }}</td>
                                            <td class="text-center">{{ order.sell_price | intcomma }}</td>
                                            <td class="text-center">{{ order.delivered_quantity }}</td>
                                            <td class="text-center">{{ order.product.based_quantity }}</td>
                                            <td class="text-center">{{ order.buy_price | floatformat | intcomma }}</td>
                                            <td class="text-center">{{ order.buy_price | multiply_price:order.delivered_quantity | floatformat | intcomma }}</td>
                                            <td class="text-center">{{ order.buy_price | multiply_price:order.delivered_quantity | tax_price | floatformat | intcomma }}</td>
                                            <td class="text-center">
                                                {{ order.total_price| floatformat | intcomma }}</td>
                                        </tr>
                                    {% endfor %}
                                    <!-- for loop -->

                                    {#                                    <tr>#}
                                    {#                                        <th class="text-center" colspan="10">مقتضی است ظرف مدت ۴۸ ساعت پس از تحویل کالا#}
                                    {#                                            فرم جاری را تایید و ارسال نماید. بدیهی است در غیر اینصورت تعداد قید شده قطعی#}
                                    {#                                            تلقی شده و فاکتور نهایی ارسال خواهد شد.#}
                                    {#                                        </th>#}
                                    {##}
                                    {#                                    </tr>#}
                                    <tr>

                                        <td colspan="3" class="text-center">تاریخ ارسال</td>
                                        <td colspan="3" class="text-center">{{ deliver_date.get_deliver_date }}</td>
                                        <td colspan="2" class="text-center">مبلغ قابل پرداخت (ریال)</td>
                                        <td colspan="2"
                                            class="text-center">{{ final_price | floatformat | intcomma }}</td>

                                    </tr>
                                    <tr>
                                        <td colspan="5">شرایط و نحوه فروش:</td>
                                        <td colspan="5" class="text-center" rowspan="2">در صورت عدم رسید کالا در تاریخ
                                            فوق مراتب را ظرف ۲۴ ساعت اطلاع رسانی نمایید.
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="5">نزد بانک انصار با شماره حساب IR530630188782808003436001</td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" colspan="3">نام و نام خانوادگی تنظیم کننده</td>
                                        <td class="text-center" colspan="3">نام و نام خانوادگی بازرگانی</td>
                                        <td class="text-center" colspan="1">نام و نام خانوادگی امور مالی</td>
                                        <td class="text-center" colspan="1">نام و نام خانوادگی و مهر مدیر عامل</td>
                                        <td class="text-center" colspan="2">مهر و امضا خریدار</td>

                                    </tr>
                                    </tbody>
                                </table>


                                <div class="row gutters pt-4">
                                    <div class="col-1 no-print" id="print-button">
                                        {% if request.user.groups.all.0.name == 'ceo' %}
                                            {% if deliver_date.status == 0 %}
                                                <form action="#">
                                                    <button type="submit" class="btn btn-info float-right ml-2"
                                                            style="margin-right: 5px;" id="editButton">
                                                        <i class="fa fa-edit"></i> ویرایش
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                    <div class="col-1 no-print" id="print-button">
                                        {% if request.user.groups.all.0.name == 'ceo' %}
                                            {% if deliver_date.status == 0 %}
                                                <form action="#">
                                                    <button type="submit" class="btn btn-danger float-right ml-2"
                                                            style="margin-right: 5px;" id="submitButton">
                                                        <i class="fa fa-check"></i> ثبت نهایی فاکتور
                                                    </button>
                                                </form>
                                            {% endif %}
                                        {% endif %}

                                    </div>
                                    <div class="col-10 no-print" id="print-button">
                                        <form action="/get_request/{{ request_r.number }}/supplier_orders">
                                            <button type="submit" class="btn btn-info float-left ml-2"
                                                    style="margin-right: 5px;">
                                                <i class="fa fa-arrow-left"></i> برگشت
                                            </button>

                                            <button type="button" onclick="PrintElem()"
                                                    class="btn btn-primary float-left ml-2"
                                                    style="margin-right: 5px;">
                                                <i class="fa fa-print"></i> چاپ فاکتور انبار
                                            </button>
                                        </form>

                                    </div>
                                </div>


                            </div>

                        </article>
                    </div>

                </div>

            </section>

        </div>
    </div>

</div>
<script src="{% static 'dist/js/factor_related.js' %}"></script>
<script src="{% static 'dist/js/admin_p_crud/p_crud.js' %}"></script>
<script src="{% static 'dist/js/request_related.js' %}"></script>