{% extends "account/dashboard.html" %}
{% block content %}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>500 صفحه ارور</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-left">
                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                    <li class="breadcrumb-item active">500 صفحه ارور</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<!-- Main content -->
<section class="content">
    <div class="error-page">
        <h2 class="headline text-danger">500</h2>

        <div class="error-content">
            <h3><i class="fa fa-warning text-danger"></i> پاسخی از سرور دریافت نشد.</h3>

            <p>
                متاسفانه سرور در دسترس نیست می توانید به<a href="../../panel.html"> داشبورد </a> برگردید و یا آدرس
                مورد نظر خود را جستجو کنید.
            </p>

            <form class="search-form">
                <div class="input-group">
                    <input type="text" name="search" class="form-control" placeholder="جستجو...">

                    <div class="input-group-append">
                        <button type="submit" name="submit" class="btn btn-danger"><i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>


</section>
{% endblock %}
