{% extends 'account/dashboard.html' %}
{% block content %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item">خانه</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-danger">* اطلاعیه شماره ۲ *</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body">
                {% if request.user.groups.all.0.name != 'user' %}
                    کاربران محترم سامانه تدارکات شرکت حامیان امید فردا توجه داشته باشید که هم اکنون میتوانید از طریق
                    کارتابل خود درخواست ها را بر اساس شماره آنها، نام بنیاد، نام زندان جستجو کنید
                {% endif %}
            </div>

            <div class="card-footer">
            </div>

        </div>


    </section>

{% endblock %}