{% extends 'account/dashboard.html' %}
{% block content %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item">خانه</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
{#    <section class="content">#}


{#        <div class="card">#}
{#            <div class="card-header">#}
{#                <h3 class="card-title">حامیان امید فردا</h3>#}
{##}
{#                <div class="card-tools">#}
{#                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"#}
{#                            title="Collapse">#}
{#                        <i class="fa fa-minus"></i></button>#}
{#                </div>#}
{#            </div>#}
{#            <div class="card-body">#}
{#                شرکت بازرگانی صنایع زندانیان کشور در تاریخ 1378/10/29 به شماره ثبت 159253 فعالیت خود را در دوره جدید به#}
{#                صورت هلدینگ بازرگانی آغاز کرده و از تاریخ 1391/05/11 مدیر عامل و اعضاء جدید هیئت مدیره که نوعاً در صنعت#}
{#                و تجارت دارای تجارب ارزنده‌ای هستند، انتخاب و مشغول به کار شدند و نام شرکت نیز به حامیان امیدفردا تغییر#}
{#                نمود. کلیه سهام این شرکت متعلق به بنیاد تعاون زندانیان کشور بوده و با توجه به این امر سیاست‌های پیش‌#}
{#                بینی#}
{#                شدۀ این شرکت در جهت نیل به اهداف مدیریتی شرکت مادر (بنیاد تعاون زندانیان کشور) و با رعایت چارچوب های#}
{#                تعیین شده تهیه گردیده است.#}
{#            </div>#}
{##}
{#            <div class="card-footer">#}
{#            </div>#}
{##}
{#        </div>#}


{#    </section>#}
    <script type="application/javascript">
        onload(window.alert('توجه داشته باشید که سامانه به صورت تستی قابل دسترس است و درنهایت تمامی اطلاعات از درون آن حذف میشود'))
    </script>
{% endblock %}