{% extends 'account/dashboard.html' %}
{% block content %}

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1></h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item">خانه</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="content">


        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-danger">* آموزش ثبت درخواست کالا *</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body text-center">
                <video style="height: auto; width: 100%" controls>
                    <source src="static/dist/videos/1.mp4" type="video/mp4">
                </video>
            </div>

            <div class="card-footer">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-danger">* آموزش نحوه ثبت رسید کالا توسط کاربران استان *</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body text-center">
                <video style="height: auto; width: 100%" controls>
                    <source src="static/dist/videos/2.mp4" type="video/mp4">
                </video>
            </div>

            <div class="card-footer">
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-danger">* آموزش دریافت اعلامیه قیمت *</h3>

                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip"
                            title="Collapse">
                        <i class="fa fa-minus"></i></button>
                </div>
            </div>
            <div class="card-body text-center">
                <video style="height: auto; width: 100%" controls>
                    <source src="static/dist/videos/3.mp4" type="video/mp4">
                </video>
            </div>

            <div class="card-footer">
            </div>
        </div>


    </section>

{% endblock %}