<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ثبت کاربر جدید در سامانه</h1>
                    </div>
                    <div class="col-sm-6">

                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">ثبت نام</li>
                        </ol>


                    </div>
                </div>
            </div>
        </section>

        <div class="card">
            <div class="card-body">
                <div class="account-settings">
                    <div class="about">
                        <h5 class="user-name text-primary">ادمین محترم سامانه</h5>
                        <p class="text-justify">برای ایجاد کاربر جدید حتما نیاز به نام کاربری فرد مورد نظر برای تائید حساب
                            کاربری خود و خدمات سامانه، دارید</p>
                        <h5 class="user-name text-warning">توجه</h5>

                        <p class="text-justify">کاربران استان جدید قبل از ثبت شدن در سامانه باید توسط مدیر عامل و مدیر
                            بازرگانی
                            تائید شده باشند در غیر این صورت ایجاد کاربر جدید بدون تائیدیه پیگرد قانونی خواهد داشت</p>

                    </div>
                </div>
            </div>
        </div>
        <form class="wrapper needs-validation" id="form-validation" novalidate method="POST">
            {% csrf_token %}
            <div class="d-flex">
                <div class="col-1 col-lg-3 col-12">
                    <div class="card ">
                        <div class="card-body">
                            <div class="account-settings">

                                <div class="about">
                                    <h5 class="user-name">مشخصات حساب کاربری</h5>
                                    <div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="email" placeholder="نام کاربری"
                                                   required name="email">
                                            <div class="invalid-feedback">
                                                کاربر جدید نیازمند یک نام کاربری میباشد
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                   placeholder="رمز عبور" id="password1" required name="password1">
                                            <div class="invalid-feedback">
                                                رمز عبور را وارد کنید
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <input type="password" class="form-control"
                                                   placeholder="رمز عبور مجدد" id="password2"
                                                   oninput="validate_password(this)" required name="password2">
                                            <div class="invalid-feedback">
                                                رمز عبور مجدد با مقدار اصلی آن یکسان نمیباشد
                                            </div>
                                        </div>

                                    </div>


                                    <div>
                                        <select class="btn btn-outline-primary" style="width: 100%;height: 39px;"
                                                id="role-selector" name="role-selector">
                                            <option value="user">کاربر استان</option>
                                            <option value="commercial_expert">کارشناس بازرگانی</option>
                                            <option value="commercial_manager">مدیر بازرگانی</option>
                                            <option value="ceo">مدیر عامل</option>
                                            <option value="financial_manager">مدیر مالی</option>
                                            <option value="site_admin">مدیر سایت</option>


                                        </select>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row gutters">

                        <div class="card h-100 mr-2">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-3">مشخصات فردی</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="first_name" placeholder="نام"
                                                   name="first_name"
                                                   required>
                                            <div class="invalid-feedback">
                                                وارد کردن نام الزامی است
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="last_name"
                                                   placeholder="نام خانوادگی" required name="last_name">
                                            <div class="invalid-feedback">
                                                لطفا نام کاربر جدید را وارد کنید
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="national_id"
                                                   placeholder="کد ملی"
                                                   name="national_id" required>
                                            <div class="invalid-feedback">
                                                وارد کردن کد ملی الزامی است
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="phone_number"
                                                   placeholder="شماره موبایل" required name="phone_number">
                                            <div class="invalid-feedback">
                                                کاربر جدید نیازمند شماره موبایل میباشد
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                        <select class="dropdown btn btn-outline-primary" id="province-selector"
                                                style="width: 100%;height: 39px" placeholder="استان" required
                                                name="province-selector">
                                            <option value="">استان</option>
                                            <option value="تهران">تهران</option>
                                            <option value="گیلان">گیلان</option>
                                            <option value="همدان">همدان</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            استان را انتخاب کنید
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <select class="dropdown btn btn-outline-primary" id="city-selector"
                                                placeholder="شهر" name="city-selector"
                                                style="width: 100%;height: 39px" required>
                                            <option value="">شهر</option>

                                        </select>
                                        <div class="invalid-feedback">
                                            شهر را انتخاب کنید
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="address"
                                                   placeholder="آدرس" required name="address">
                                            <div class="invalid-feedback">
                                                آدرس برای کاربر جدید الزامی است
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input type="number" class="form-control" id="postal_code"
                                                   placeholder="کد پستی"
                                                   required name="postal_code">
                                            <div class="invalid-feedback">
                                                کد پستی الزامی است
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-left">
                                            <button type="submit" id="" name="submit" class="btn btn-primary"
                                                    value="submit">ثبت کاربر
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'dist/js/u_retrieve.js' %}"></script>