<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper">


            <!-- Sidebar-->


            <div class="row">
                <div class="col-1">

                    <div class="border-end bg-white text-center" id="sidebar-wrapper">
                        <div class="sidebar-heading border-bottom bg-light">جستجو</div>
                        <div class="list-group list-group-flush">
                            <input type="text" name="table_search"
                                   class="form-control float-right ist-group-item list-group-item-action list-group-item-light mt-2 mb-2"
                                   placeholder="نام کاربر" id="nameField">
                            <select class="btn btn-outline-dark show-tick dropdown mt-2 mb-2 filter-products"
                                    data-width="fit"
                                    id="selected-category">
                                <option value="نقش">نقش</option>
                                {% for group in groups %}
                                    <option value="{{ group.name }}">{{ group.name }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-11">

                    <div class="card">
                        <div class="card-header">
                            <h4>لیست کاربران</h4>
                        </div>
                        <!-- /.card-header -->

                        <div class="app-table card-body table-hover p-0">
                            <table class="table table-striped table-valign-middle" id="userTable">
                                <thead>
                                <tr>
                                    <th class="text-center">ایمیل</th>
                                    <th class="text-center">نام و نام خانوادگی</th>
                                    <th class="text-center">نقش</th>
                                    <th class="text-center">شماره تلفن</th>
                                    <th class="text-center">ویرایش</th>
                                    <th class="text-center">وضعیت</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if users is not None %}
                                    {% for user in page_obj %}
                                        <tr id="user-{{ user.id }}">
                                            <td class="text-center" id="user-{{ user.email }}">{{ user.email }}</td>
                                            <td class="text-center">{{ user.userprofile.first_name }} {{ user.userprofile.last_name }}</td>
                                            <td class="text-center">
                                                <label class="badge badge-success"
                                                       style="font-size: 13px;">
                                                    {{ user.groups.all.0 }}

                                                </label>
                                            </td>
                                            <td class="text-center">
                                                {{ user.userprofile.phone_number }}
                                            </td>
                                            <td class="text-center"><a href="/get_user/{{ user.id }}" class="fa fa-edit"
                                                                       style="padding-top: 6px"></a>
                                            </td>
                                            {% if user.active == False %}
                                                <td class="text-center" id="userstatus-{{ user.id }}"><a href="#"
                                                                                                         class="fa fa-remove"
                                                                                                         style="padding-top: 6px;color: red"
                                                                                                         onClick="deleteUser({{ user.id }})"></a>
                                                    {% else %}
                                                <td class="text-center" id="userstatus-{{ user.id }}">
                                                <a href="#" class="fa fa-check"
                                                   style="padding-top: 6px; color: green"
                                                   onClick="deleteUser({{ user.id }})"></a>
                                            {% endif %}
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="no-results text-center text-bold" style="display: none;">
                            <small>چیزی پیدا نشد</small>
                        </div>

                        <div class="table-output card-body table-responsive p-0">
                            <table class="table table-striped table-valign-middle" id="userTable">
                                <thead>
                                <tr>
                                    <th class="text-center">ایمیل</th>
                                    <th class="text-center">نام و نام خانوادگی</th>
                                    <th class="text-center">نقش</th>
                                    <th class="text-center">شماره تلفن</th>
                                    <th class="text-center">ویرایش</th>
                                    <th class="text-center">وضعیت</th>
                                </tr>
                                </thead>
                                <tbody class='table-body position-relative' style="width: 100px" id="table-body"></tbody>
                            </table>

                        </div>
                    </div>


                    <!-- /.card-body -->

                    <!-- /.card -->

                </div>


            </div>
            <div class="pagination-container">
                <div class="">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                </div>

                <ul class="pagination align-right float-right mr-auto" style="padding-top: 10px">
                    {% if page_obj.has_previous %}
                        <li {% ifequal 1 page_obj.number %} class="page-item active" {% endifequal %}>
                            <a class="page-link" href="?page=1">&laquo; 1
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page ={{ page_obj.previous_page_number }}">قبلی</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page= {{ page_obj.next_page_number }}">بعدی</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                {{ page_obj.paginator.num_pages }} &raquo;
                            </a></li>
                    {% endif %}
                </ul>


                <!-- /.row -->


            </div>
        </div>
    </div>
</div>
<script src="{% static 'dist/js/u_rm_reg.js' %}"></script>

