<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ثبت گروه کالایی جدید</h1>
                    </div>
                    <div class="col-sm-6">

                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">گروه کالایی</li>
                        </ol>


                    </div>
                </div>
            </div>
        </section>

        <div class="card">
            <div class="card-body">
                <div class="account-settings">
                    <div class="about">
                        <h5 class="user-name text-warning">توجه</h5>

                        <p class="text-justify">
                            نیازمند است قبل از ایجاد گروه های کالایی از دسته ها و نام های منطقی که محصولات بر اساس آنها
                            در انبار هستند، باخبر بود و طبق آنها گروه جدیدی را ایجاد کرد.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <form class="wrapper h-50 needs-validation" id="form-validation" novalidate method="POST">
            {% csrf_token %}
            <div class="d-flex text-center">


                <div class="card mr-2 w-25 justify-content-center">
                    <div class="card-body w-100">
                        <div class="row gutters">
                            <div class="col w-100">
                                <h6 class="mb-3">مشخصات گروه کالا</h6>


                                <div class="form-group">
                                    <input type="text" class="form-control" id="name"
                                           placeholder="نام گروه"
                                           name="name" required>
                                    <div class="invalid-feedback">
                                        گروه کالایی نیازمند یک نام میباشد
                                    </div>
                                </div>


                                <div class="form-group">
                                    <select class="form-control select2" id="supplier-selector"
                                            name="supplier-selector" required multiple="multiple"
                                            data-placeholder="تامین کنندگان را تعیین کنید"
                                            style="width: 100%;text-align: right; height: 100%">
                                        {% for supplier in suppliers %}
                                            <option value="{{ supplier.company_name }}">{{ supplier.company_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        لطفا برند های گروه خود را انتخاب کنید
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="expert-selector"
                                            name="expert-selector" required style=" text-align: right;">
                                        <option value="">انتخاب کارشناس</option>
                                        {% for expert in experts %}
                                            <option value="{{ expert.email }}">{{ expert.userprofile.first_name }} {{ expert.userprofile.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        کارشناس مورد نظر را انتخاب کنید
                                    </div>
                                </div>


                                <div class="form-group">
                                            <textarea class="form-control" id="description" name="description"
                                                      placeholder="توضیحات" required></textarea>
                                    <div class="invalid-feedback">
                                        توضیحات را وارد کنید
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-center">
                            <button type="submit" id="" name="submit" class="btn btn-primary"
                                    value="submit">ثبت گروه کالای جدید
                            </button>

                        </div>

                        <div class="text-justify pt-3"><span>باید توجه داشت که قبل از ایجاد یک گروه کالایی جدید حتما برند مربوط به این گروه کالایی وجود داشته باشد.</span>
                        </div>

                    </div>

                </div>

                <div class="row gutters mr-4 w-100">
                    <div class="app-table card-body table-hover p-0">
                        <table class="table table-striped table-valign-middle" id="categoryTable">
                            <thead>
                            <tr>

                                <th class="text-center">نام گروه کالا</th>
                                <th class="text-center">توضیحات</th>
                                <th class="text-center">کارشناس</th>
                                <th class="text-center">برند ها</th>
                                <th class="text-center">ویرایش</th>
                                <th class="text-center">حذف</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% if categories is not None %}
                                {% for category in categories %}
                                    <tr id="category-{{ category.name }}">

                                        <td class="text-center" id="name-{{ category.name }}">{{ category.name }}</td>
                                        {% if category.description == '' %}
                                            <td class="text-center"><span id="description-{{ category.name }}">بدون توضیحات</span>
                                            </td>
                                        {% else %}
                                            <td class="text-center"><textarea
                                                    class="text-center rounded"
                                                    placeholder="{{ category.description }}"
                                                    readonly style="resize: none"
                                                    id="description-{{ category.name }}"></textarea>
                                            </td>
                                        {% endif %}
                                        <td class="text-center"><span id="expert-{{ category.name }}">{{ category.user_expert.userprofile.last_name }}</span></td>
                                        <td class="text-center"><select class="form-control"
                                                                        id="supplier-{{ category.name }}">
                                            {% for supplier in category.suppliers.all %}
                                                <option class="text-center">{{ supplier }}</option>
                                            {% endfor %}
                                        </select></td>
                                        <td class="text-center"><a href="/get_category/{{ category.name }}"
                                                                   class="fa fa-edit"
                                                                   style="padding-top: 6px"></a>
                                        <td class="text-center"><a href="#" class="fa fa-remove"
                                                                   style="padding-top: 6px"
                                                                   onClick="deleteCategory('{{ category.name }}')"></a>
                                        </td>


                                        </td>

                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'dist/js/c_crud.js' %}"></script>