<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ویرایش اطلاعات گروه کالایی موجود در سیستم</h1>
                    </div>
                    <div class="col-sm-6">

                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">ویرایش</li>
                        </ol>


                    </div>
                </div>
            </div>
        </section>

        <div class="card">
            <div class="card-body">
                <div class="account-settings">
                    <div class="about">
                        <h5 class="user-name text-warning">توجه</h5>

                        <p class="text-justify">
                            گروه های کالایی باید با هماهنگی های قبلی ویرایش شوند
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <form class="wrapper" id="form-validation" novalidate method="POST" action="/update_category">
            {% csrf_token %}
            <div class="d-flex text-center justify-content-center">
                <div class="card mr-2 w-25 justify-content-center">
                    <div class="card-body w-100">
                        <div class="row gutters">
                            <div class="col w-100">
                                <h6 class="mb-3">مشخصات گروه کالا</h6>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="name"
                                           value="{{ category_e.name }}"
                                           name="name" required readonly>
                                </div>


                                <div class="form-group">
                                    <select class="form-control select2" id="supplier-selector"
                                            name="supplier-selector" required multiple="multiple"
                                            data-placeholder="تامین کنندگان را تعیین کنید"
                                            style="width: 100%;text-align: right; height: 100%">
                                        {% for supplier in suppliers_c %}
                                            {% if supplier.company_name in category_suppliers %}
                                                <option value="{{ supplier.company_name }}"
                                                        selected>{{ supplier.company_name }}</option>
                                            {% else %}
                                                <option value="{{ supplier.company_name }}">{{ supplier.company_name }}</option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        لطفا برند های گروه خود را انتخاب کنید
                                    </div>
                                </div>


                                <div class="form-group">
                                            <textarea class="form-control" id="description" name="description"
                                                      placeholder="توضیحات: {{ category_e.description }}"
                                                      required></textarea>
                                    <div class="invalid-feedback">
                                        توضیحات را وارد کنید
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-center">
                            <button type="submit" id="" name="submit" class="btn btn-primary"
                                    value="submit">ثبت ویرایش های انجام شده
                            </button>

                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>

<script src="{% static 'dist/js/u_retrieve.js' %}"></script>