<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ویرایش کالای موجود</h1>
                    </div>
                    <div class="col-sm-6">

                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">ویرایش</li>
                        </ol>


                    </div>
                </div>
            </div>
        </section>

        <div class="card">
            <div class="card-body">
                <div class="account-settings">
                    <div class="about">
                        <h5 class="user-name text-warning">توجه</h5>

                        <p class="text-justify">
                            مدیر محترم سایت باید یادآوری شود که محصولات درون سیستم بر پایه نیاز هر زندان میباشد و
                            محصولات تکراری به هیچ عنوان درون سایت قرار نمیگیرند چرا که کاربر استان تعیین کننده تامین
                            کننده محصول میباشد
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <form class="wrapper needs-validation" id="form-validation" novalidate method="POST" action="/update_product">
            {% csrf_token %}
            <div class="d-flex text-center justify-content-center">
                <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
                    <div class="row gutters">

                        <div class="card h-100 mr-2">
                            <div class="card-body">
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <h6 class="mb-3">مشخصات تامین کننده</h6>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="product-id" value="{{ product_e.id }}" name="product-id" readonly hidden>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="name"
                                                   placeholder="نام کالا: {{ product_e.name }}"
                                                   name="name" required>
                                            <div class="invalid-feedback">
                                                کالا نیازمند یک نام کلی میباشد
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <select class="dropdown btn btn-outline-primary" id="category-selector"
                                                    style="width: 100%;height: 39px" placeholder="گروه کالا"
                                                    name="category-selector" required>
                                                <option value="">گروه کالا</option>
                                                {% for category in categories %}
                                                    {% if category.name == product_e.category.name %}
                                                        <option value="{{ category.name }}"
                                                                selected>{{ category.name }}</option>
                                                    {% else %}
                                                        <option value="{{ category.name }}">{{ category.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <div class="invalid-feedback">
                                                لطفا گروه کالایی را انتخاب کنید
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12 mb-3">
                                        <select class="dropdown btn btn-outline-primary" id="unit-selector"
                                                style="width: 100%;height: 39px" placeholder="کیمت" required
                                                name="unit-selector" required>
                                            <option value="">کمیت</option>
                                            {% for key,value in units %}
                                                {% if key == product_e.based_quantity %}
                                                    <option value="{{ value }}" selected>{{ key }}</option>
                                                {% else %}
                                                    <option value="{{ value }}">{{ key }}</option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            استان را انتخاب کنید
                                        </div>
                                    </div>

                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                        <div class="form-group">
                                            <textarea class="form-control" id="description" name="description"
                                                      placeholder="توضیحات: {{ product_e.description }}"></textarea>
                                            <div class="invalid-feedback">
                                                آدرس را وارد کنید
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row gutters">
                                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                        <div class="text-left">
                                            <button type="submit" id="" name="submit" class="btn btn-primary"
                                                    value="submit">ویرایش
                                            </button>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'dist/js/u_retrieve.js' %}"></script>