<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <div class="wrapper">


            <!-- Sidebar-->


            <div class="row">
                <div class="col-1">

                    <div class="border-end bg-white text-center" id="sidebar-wrapper">
                        <div class="sidebar-heading border-bottom bg-light">جستجو</div>
                        <div class="list-group list-group-flush">
                            <input type="text" name="table_search"
                                   class="form-control float-right ist-group-item list-group-item-action list-group-item-light mt-2 mb-2"
                                   placeholder="نام کالا" id="nameField">
                            <select class="btn btn-outline-dark show-tick dropdown mt-2 mb-2 filter-products"
                                    data-width="fit"
                                    id="selected-category">
                                <option value="دسته">دسته</option>
                                {% for category in categories %}
                                    <option value="{{ category.name }}">{{ category.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <select class="btn btn-outline-dark show-tick dropdown mt-2 mb-2 " data-width="fit"
                                    id="selected-supplier" hidden>
                                <option value="برند">برند</option>
                                {% for supplier in suppliers %}
                                    <option onclick="" class="filter-supplier" value="{{ supplier.company_name }}"
                                            {% if supplier.is_active is False %} disabled {% endif %}>
                                        {{ supplier.company_name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button class="btn btn-primary h-100 mb-2 mt-2" type="button" onclick="handleSearch()">جست و
                                جو
                            </button>
                            <button class="btn btn-outline-danger fa fa-close h-100 mb-2 mt-2" type="button"
                                    onclick="resetFound()">
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-11">

                    <div class="card">
                        <div class="card-header">
                            <h4>لیست محصولات</h4>
                        </div>
                        <!-- /.card-header -->
			<div class="w-100 text-center" id='loadingBar' style='display:none'>
                            <div class="loadingio-spinner-spinner-985r529o724">
                                <div class="ldio-oiqxwq2p09">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                        </div>
                        <div class="app-table card-body table-responsive p-0">

                            <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">نام کالا</th>
                                    <th class="text-center">گروه</th>
                                    <th class="text-center">برند</th>
                                    <th class="text-center">توضیحات</th>
                                    <th class="text-center">کمیت</th>
                                    <th class="text-center">مقدار سفارشات بر اساس کمیت</th>
                                    <th class="text-center">ویرایش</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% if products is not None %}
                                    {% for product in page_obj %}
                                        <tr>
                                            <td class="text-center">{{ product.id }}</td>
                                            <td class="text-center">{{ product.name }}</td>
                                            <td class="text-center"><label class="badge badge-success"
                                                                           style="font-size: 13px;">{{ product.category_id }}</label>
                                            </td>
                                            <td class="text-center">
                                                {% if product.category is not None %}
                                                    <select class="btn btn-outline-dark text-right show-tick dropdown"
                                                            data-dropup-auto="false" title="برند" style="width: 100%">
                                                        <option value="">برند</option>
                                                        {% for supplier in product.category.suppliers.all %}
                                                            <option value="{{ supplier.company_name }}"
                                                                    {% if supplier.is_active is False %}
                                                                    disabled {% endif %}>
                                                                {{ supplier.company_name }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                {% endif %}
                                            </td>
                                            {% if product.description is None %}
                                                <td class="text-center"><span class="text-center">بدون توضیحات</span>
                                                </td>
                                            {% else %}
                                                <td class="text-center"><textarea
                                                        class="text-center rounded"
                                                        placeholder="{{ product.description }}"
                                                        readonly style="resize: none"></textarea>
                                                </td>
                                            {% endif %}
                                            <td class="text-center"><span
                                                    class="text-center">{{ product.based_quantity }}</span>
                                            </td>
                                            <td class="text-center"><span
                                                    class="text-center">{{ product.ordered_quantity }}</span>
                                            </td>

                                            <td class="text-center"><a href="/get_product/{{ product.id }}"
                                                                       class="fa fa-edit"
                                                                       style="padding-top: 6px"></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>

                        <div class="no-results text-center text-bold" style="display: none;">
                            <small>چیزی پیدا نشد</small>
                        </div>


                        <div class="table-output card-body table-responsive p-0">
                            <table class="table table-striped table-valign-middle">
                                <thead>
                                <tr>
                                    <th class="text-center">شماره</th>
                                    <th class="text-center">نام کالا</th>
                                    <th class="text-center">گروه</th>
                                    <th class="text-center">برند</th>
                                    <th class="text-center">توضیحات</th>
                                    <th class="text-center">کمیت</th>
                                    <th class="text-center">مقدار سفارشات بر اساس کمیت</th>
                                    <th class="text-center">ویرایش</th>

                                </tr>
                                </thead>
                                <tbody class='table-body position-relative' style="width: 100px"></tbody>
                            </table>

                        </div>
                    </div>


                    <!-- /.card-body -->

                    <!-- /.card -->

                </div>


            </div>
            <div class="pagination-container">
                <div class="">
                    صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}
                </div>

                <ul class="pagination align-right float-right mr-auto" style="padding-top: 10px">
                    {% if page_obj.has_previous %}
                        <li {% ifequal 1 page_obj.number %} class="page-item active" {% endifequal %}>
                            <a class="page-link" href="?page=1">&laquo; 1
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                                 href="?page ={{ page_obj.previous_page_number }}">قبلی</a>
                        </li>
                    {% endif %}
                    {% if page_obj.has_next %}
                        <li class="page-item"><a class="page-link"
                                                 href="?page= {{ page_obj.next_page_number }}">بعدی</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                                {{ page_obj.paginator.num_pages }} &raquo;
                            </a></li>
                    {% endif %}
                </ul>

            </div>
        </div>
    </div>
</div>
<style type="text/css">
    @keyframes ldio-oiqxwq2p09 {
        0% {
            opacity: 1
        }
        100% {
            opacity: 0
        }
    }

    .ldio-oiqxwq2p09 div {
        left: 47.5px;
        top: 24.5px;
        position: absolute;
        animation: ldio-oiqxwq2p09 linear 1.282051282051282s infinite;
        background: #ff0000;
        width: 5px;
        height: 11px;
        border-radius: 0px / 0px;
        transform-origin: 2.5px 25.5px;
    }

    .ldio-oiqxwq2p09 div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -1.1752136752136753s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -1.0683760683760684s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.9615384615384616s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.8547008547008548s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.7478632478632479s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.6410256410256411s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.5341880341880342s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.4273504273504274s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.32051282051282054s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.2136752136752137s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.10683760683760685s;
        background: #ff0000;
    }

    .ldio-oiqxwq2p09 div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #ff0000;
    }

    .loadingio-spinner-spinner-985r529o724 {
        width: 44px;
        height: 44px;
        display: inline-block;
        overflow: hidden;
        background: #ffffff;
    }

    .ldio-oiqxwq2p09 {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(0.44);
        backface-visibility: hidden;
        transform-origin: 0 0; /* see note above */
    }

    .ldio-oiqxwq2p09 div {
        box-sizing: content-box;
    }

    /* generated by https://loading.io/ */
</style>
<script src="{% static 'dist/js/admin_p_crud/p_crud.js' %}"></script>

