<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ویرایش اطلاعات زندان موجود در سیستم</h1>
                    </div>
                    <div class="col-sm-6">

                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">ویرایش</li>
                        </ol>


                    </div>
                </div>
            </div>
        </section>

        <div class="card">
            <div class="card-body">
                <div class="account-settings">
                    <div class="about">
                        <h5 class="user-name text-warning">توجه</h5>

                        <p class="text-justify">
                            تغییرات اطلاعات زندان ها باید با هماهنگی های قبلی از سوی مدیر عامل و مدیریت بنیاد های استان صورت گیرد در این صورت ایجاد هرگونه تغییر
                            بدون هماهنگی با افراد تعیین شده پیگرد قانونی دارد
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <form class="wrapper" id="form-validation" novalidate method="POST" action="/update_branch/{{ branch.id }}">
            {% csrf_token %}
            <div class="d-flex text-center justify-content-center">
                <div class="card mr-2 w-25 justify-content-center">
                    <div class="card-body w-100">
                        <div class="row gutters">
                            <div class="col w-100">
                                <h6 class="mb-3">مشخصات زندان</h6>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="name"
                                           value="{{ branch.name }}"
                                           name="name" required>
                                    <div class="invalid-feedback">
                                        نام زندان را وارد کنید
                                    </div>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" id="deputy"
                                           name="deputy" placeholder="{{ branch.branch_deputy }}" required>
                                    <div class="invalid-feedback">
                                        نام نماینده زندان را وارد کنید
                                    </div>

                                </div>

                                <div class="form-group">
                                    <input type="number" class="form-control" id="number"
                                           name="number" placeholder="{{ branch.phone_number }}" required>
                                    <div class="invalid-feedback">
                                        شماره تلفن زندان را وارد کنید
                                    </div>

                                </div>


                                <div class="form-group">
                                            <textarea class="form-control" id="address" name="address"
                                                      placeholder="{{ branch.address }}" required>{{ branch.address }}</textarea>
                                    <div class="invalid-feedback">
                                        آدرس زندان را وارد کنید
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="text-center">
                            <button type="submit" id="" name="submit" class="btn btn-primary"
                                    value="submit">ثبت ویرایش های انجام شده
                            </button>

                        </div>

                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
<script src="{% static 'dist/js/u_retrieve.js' %}"></script>