<div class="wrapper">
    {% include "account/dashboard.html" %}
    {% load static %}
    <div class="content-wrapper px-2" style="background-color: white">
        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>ثبت زندان جدید</h1>
                    </div>
                    <div class="col-sm-6">

                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><a href="/">خانه</a></li>
                            <li class="breadcrumb-item active">زندان</li>
                        </ol>


                    </div>
                </div>
            </div>
        </section>

        <div class="card">
            <div class="card-body">
                <div class="account-settings">
                    <div class="about">
                        <h5 class="user-name text-warning">توجه</h5>

                        <p class="text-justify">
                            ایجاد زندان ها درون سامانه باید با هماهنگی قبلی مدیر عامل و زندان مورد نظر جهت ارائه خدمات
                            سامانه، صورت گیرد در غیر این صورت ایجاد هرگونه اطلاعات جدید و تغییر در اطلاعات موجود بدون
                            هماهنگی که باعث اختلال در سامانه شود برای کاربر ادمین سایت عواقب خواهد داشت.
                        </p>

                    </div>
                </div>
            </div>
        </div>
        <form class="wrapper h-50  needs-validation" id="form-validation" novalidate method="POST">
            {% csrf_token %}
            <div class="d-flex text-center">


                <div class="card mr-2 w-25 justify-content-center">
                    <div class="card-body w-100">
                        <div class="row gutters">
                            <div class="col w-100">
                                <h6 class="mb-3">مشخصات زندان</h6>


                                <div class="form-group">
                                    <input type="text" class="form-control" id="name"
                                           placeholder="نام زندان"
                                           name="name" required>
                                    <div class="invalid-feedback">
                                        زندان نیازمند یک نام میباشد
                                    </div>
                                </div>


                                <div class="form-group">
                                    <input type="number" class="form-control" id="number"
                                           placeholder="شماره تلفن"
                                           name="number" required>
                                    <div class="invalid-feedback">
                                        زندان باید دارای یک شماره تلفن باشد
                                    </div>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="address"
                                              placeholder="آدرس"
                                              name="address" required></textarea>
                                    <div class="invalid-feedback">
                                        زندان باید دارای یک آدرس باشد
                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="text-center">
                            <button type="submit" id="" name="submit" class="btn btn-primary"
                                    value="submit">ثبت زندان جدید
                            </button>

                        </div>

                        <div class="text-justify pt-3"><span>باید توجه داشت که بعد از ایجاد زندان های جدید باید حتما به یک بنیاد تعاون استان انتساب داده شوند.</span>
                        </div>

                    </div>

                </div>

                <div class="row gutters mr-4 w-75">
                    <div class="app-table card-body table-hover p-0">
                        <table class="table table-striped table-valign-middle" id="branchTable">
                            <thead>
                            <tr>

                                <th class="text-center">نام زندان</th>
                                <th class="text-center">شماره تلفن</th>
                                <th class="text-center">آدرس</th>
                                <th class="text-center">ویرایش</th>
                                <th class="text-center" hidden disabled>حذف</th>

                            </tr>
                            </thead>
                            <tbody>
                            {% if prisonbranches is not None %}
                                {% for branch in prisonbranches %}
                                    <tr id="branch-{{ branch.name }}">

                                        <td class="text-center" id="name-{{ branch.name }}">
                                            {{ branch.name }}</td>
                                        <td class="text-center" id="number-{{ branch.phone_number }}">
                                            0{{ branch.phone_number }}</td>
                                        <td class="text-center"><textarea
                                                class="text-center rounded"
                                                placeholder="{{ branch.address }}"
                                                readonly style="resize: none"
                                                id="address-{{ branch.address }}"></textarea>
                                        </td>
                                        <td class="text-center"><a href="/get_prisonbranch/{{ branch.id }}"
                                                                   class="fa fa-edit"
                                                                   style="padding-top: 6px"></a></td>
                                        <td class="text-center" hidden disabled><a href="#" class="fa fa-remove"
                                                                                   style="padding-top: 6px"
                                                                                   onClick="deletePrisonBranch('{{ branch.id }}')"></a>
                                        </td>


                                    </tr>
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="application/javascript">

    function deletePrisonBranch(id) {
        let action = confirm('آیا از حذف کردن این زندان مطمئن هستید ؟')


        if (action != false) {
            $.ajax({
                url: '/delete_prisonbranch',
                data: {
                    'id': id
                },
                dataType: 'json',
                success: function (data) {
                    if (data.deleted) {
                        console.log('branch-' + id)
                        $("#branchTable #branch-" + id).remove()
                    }
                }
            })
        }
    }

</script>